/* Variables */
:root {
	--custom-loading-outlined-animation-transform-rotate-from: 0deg;
	--custom-loading-outlined-animation-transform-rotate-to: 360deg;
	--custom-loading-outlined-dimension: 120px;
	--custom-loading-outlined-circle-transform-origin: 50% 50%;
	--custom-loading-outlined-logo-position: 50%;
	--custom-loading-outlined-logo-transform-translate: -50%;
	--custom-loading-outlined-logo-dimension: 50%;
}

/* Custom Loading Outlined — Animation */
@keyframes customLoadingOutlinedSpin {
	0% {
		transform: rotate(
			var(
				--custom-loading-outlined-animation-transform-rotate-from
			)
		);
	}
	100% {
		transform: rotate(
			var(
				--custom-loading-outlined-animation-transform-rotate-to
			)
		);
	}
}

/* Custom Loading Outlined */
.custom-loading-outlined {
	width: var(--custom-loading-outlined-dimension);
	height: var(--custom-loading-outlined-dimension);
	position: var(--position-relative);
	justify-self: var(--justify-self-center);
}

/* Custom Loading Outlined — Circle */
.custom-loading-outlined-circle {
	animation: customLoadingOutlinedSpin
		var(--animation-duration-long)
		var(--animation-timing-linear)
		var(--animation-iteration-infinite);
	transform-origin: var(
		--custom-loading-outlined-circle-transform-origin
	);
}

/* Custom Loading Outlined — Logo */
.custom-loading-outlined-logo {
	position: var(--position-absolute);
	top: var(--custom-loading-outlined-logo-position);
	left: var(--custom-loading-outlined-logo-position);
	transform: translate(
		var(--custom-loading-outlined-logo-transform-translate),
		var(--custom-loading-outlined-logo-transform-translate)
	);
	width: var(--custom-loading-outlined-logo-dimension);
	height: var(--custom-loading-outlined-logo-dimension);
}
