/* Custom back button styles */
.custom-back-button {
    display: flex;
    flex-direction: row;
    color: white !important;
    font-size: var(--caption_text_font_size);
    font-family: 'Poppins', 'sans-serif';
    gap: var(--gap_button_label);
    padding-top: var(--custom_back_button_padding_top);
}