/* Custom Button styles */
.custom-button {
    color: white;
    font-family: 'Poppins', 'sans-serif';
    border: 1px solid white;
    border-radius: var(--border_radius);
    padding: var(--custom_button_padding);
    background-color: var(--background_color) !important;
    transition: all 0.3s ease;
}

.custom-button:hover {
    font-family: 'Poppins', 'sans-serif' !important;
    border: 1px solid white !important;
    border-radius: var(--border_radius) !important;
    padding: var(--custom_button_padding) !important;
    filter: invert(1);
    transition: all 0.3s ease !important;
}

/* Contact button styles */
.contact-button {
    color: white;
    font-family: 'Poppins', 'sans-serif';
    padding: 0;
    box-shadow: none;
    background-color: transparent !important;
}

/* CTA button styles */
.cta-button {
    margin-top: var(--cta_button_margin_top);
    color: white;
    font-size: var(--caption_text_font_size);
    font-weight: bold;
    font-family: 'Poppins', 'sans-serif';
    border-radius: var(--border_radius);
    padding: var(--custom_button_padding);
    background-color: var(--blue_color) !important;
    transition: all 0.3s ease;
}

.cta-button:hover {
    transform: scale(1.03);
    border-radius: var(--border_radius) !important;
}

/* ------- Big screen ------- */
@media (min-width: 1025px) {
    .custom-button {
        font-size: var(--body_font_size_big);
    }

    .contact-button {
        font-size: var(--body_font_size_big);
    }
}

/* ------- Medium screen (portrait and landscape) ------- */
@media (min-width: 768px) and (max-width: 1024px) {
    .custom-button {
        font-size: var(--body_font_size_medium);
    }
}

/* ------- Small screen (portrait and landscape) ------- */
@media (max-width: 767px) {
    .custom-button {
        font-size: var(--body_font_size_small);
    }
}