/* Image Animation */
@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

/* Custom Image Container styles */
.image-container {
    max-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: initial;
    overflow: hidden;
    border-radius: var(--border_radius);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}

/* Custom Image Container img styles */
.image-container img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border_radius);
    transform: scale(1);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.image-container img.in-view {
    animation: zoomIn 3s ease forwards;
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
    .image-container {
        margin-top: var(--custom_image_container_margin_top_big);
    }
}

/* ------ Medium screen landscape ------- */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .image-container {
        margin-top: var(--custom_image_container_margin_top_medium);
    }
}

/* ------ Medium screen portrait ------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .image-container {
        margin-top: var(--custom_image_container_margin_top_medium);
    }
}

/* ------ Small screen portrait ------- */
@media (max-width: 767px) and (orientation: portrait) {
    .image-container {
        margin-top: var(--custom_image_container_margin_top_small);
    }
}

/* ------ Small screen landscape ------- */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
    .image-container {
        margin-top: var(--custom_image_container_margin_top_small);
    }
}