/* Text Animation */
@keyframes slideInTitle {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Title styles */
.custom-title {
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    color: var(--accent_color);
}

.custom-title.in-view {
    animation: slideInTitle 1.5s ease forwards;
}

/* Subtitle and description styles */
.custom-subtitle,
.custom-description {
    opacity: 0;
    transition: opacity 1.8s ease, transform 1.8s ease;
    text-align: left;
    color: white;
}

.custom-subtitle.in-view,
.custom-description.in-view{
    opacity: 1;
}

/* Small text styles */
.custom-small {
    color: white;
    font-size: var(--caption_text_font_size);
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
    .custom-title {
        font-size: var(--heading_font_size_big);
    }

    .custom-subtitle {
        font-size: var(--subheading_font_size_big);
    }

    .custom-description {
        font-size: var(--body_font_size_big);
    }
}

/* ------ Medium screen portrait ------ */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .custom-title {
        font-size: var(--heading_font_size_medium);
    }

    .custom-subtitle {
        font-size: var(--subheading_font_size_medium);
    }

    .custom-description {
        font-size: var(--body_font_size_medium);
    }
}

/* ------ Medium screen landscape ------ */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .custom-title {
        font-size: var(--heading_font_size_medium);
    }

    .custom-subtitle {
        font-size: var(--subheading_font_size_medium);
    }

    .custom-description {
        font-size: var(--body_font_size_medium);
    }
}

/* ------ Small screen portrait ------ */
@media (max-width: 767px) {
    .custom-title {
        font-size: var(--heading_font_size_small);
    }

    .custom-subtitle {
        font-size: var(--subheading_font_size_small);
    }

    .custom-description {
        font-size: var(--body_font_size_small);
    }
}

/* ------ Small screen landscape ------ */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
    .custom-title {
        font-size: var(--heading_font_size_small);
    }

    .custom-subtitle {
        font-size: var(--subheading_font_size_small);
    }

    .custom-description {
        font-size: var(--body_font_size_small);
    }
}