/* Cookie Consent styles*/
.CookieConsent{
    font-size: var(--caption_text_font_size) !important;
    font-family: 'Poppins' !important;
    color: white !important;
    z-index: 9999999 !important;
    background: var(--background_color) !important;
}

/* Cookie Consent buttons styles */
.CookieConsent #rcc-decline-button, #rcc-confirm-button {
    color: white !important;
    font-size: var(--caption_text_font_size) !important;
    font-family: 'Poppins' !important;
    border: 1px solid white !important;
    border-radius: var(--border_radius) !important;
    padding: var(--custom_button_cookie_banner_padding) !important;
    background-color: var(--background_color) !important;
    transition: all 0.3s ease;
}

.CookieConsent #rcc-decline-button:hover, #rcc-confirm-button:hover {
    font-family: 'Poppins' !important;
    border: 1px solid white !important;
    border-radius: var(--border_radius) !important;
    padding: var(--custom_button_cookie_banner_padding) !important;
    filter: invert(1);
    transition: all 0.3s ease !important;
}

/* Policy links styles */
.policy-link{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

/* Switch container styles */
.cookie-switch-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}