/* Variables */
:root {
	--used-car-drawer-collapse-header-margin: 10px 0 10px 0;
}

/* Used Car Drawer Collapse */
.used-car-drawer-collapse {
	margin-top: var(--margin-xlarge);
	border: var(--border-none);
	border-radius: var(--border-radius-default);
}

/* Used Car Drawer Collapse — Item */
.ant-collapse-item {
	border: var(--border-none) !important;
}

/* Used Car Drawer Collapse — Header */
.ant-collapse-header {
	margin: var(--used-car-drawer-collapse-header-margin);
	border: var(--border-none) !important;
	padding-left: var(--zero-padding) !important;
}

/* Used Car Drawer Collapse — Header Text */
.ant-collapse-header-text {
	font-family: var(--font-family);
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-bold);
	color: var(--color-white) !important;
}

/* Used Car Drawer Collapse — Content */
.ant-collapse-content-box,
.ant-collapse-content {
	color: var(--color-white);
	font-family: var(--font-family);
	border: var(--border-none) !important;
	border-left: var(--border-width-small)
		var(--border-style-solid) var(--color-white) !important;
	border-radius: var(--border-none) !important;
	background-color: var(--color-transparent) !important;
}

/* Used Car Drawer Collapse — Expand Icon */
.ant-collapse-expand-icon {
	color: var(--color-white);
}

/* Used Car Drawer Collapse — Lists */
.used-car-drawer-collapse-inner-list,
.used-car-drawer-collapse-outer-list {
	padding-inline-start: var(--zero-padding) !important;
	margin-block-start: var(--zero-margin) !important;
}
