/* Loading Outlines styles */
.loading-outlined {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: white;
  width: var(--loading_outlined_width);
  max-width: var(--section_max_width);
}
