/* Loading Outlines styles */
.loading-outlined {
	width: var(--loading_outlined_width);
	max-width: var(--section_max_width);
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	color: var(--loading_outlined_color);
}
