/* Variables */
:root {
	--custom-icon-button-margin: clamp(5px, 2vw, 10px);
	--custom-icon-button-dimension: clamp(18px, 5vw, 20px);
}

/* Custom Icon Button */
.custom-icon-button {
	border: var(--border-none);
	background: var(--color-transparent);
	cursor: var(--cursor-pointer);
	transition: var(--animation-duration-short) var(--animation-timing-ease-out);
}

/* Custom Icon Button — Hover */
.custom-icon-button:hover {
	transform: scale(var(--scale-medium));
}

/* Custom Icon Button — Icon */
.custom-icon-button img {
	width: var(--custom-icon-button-dimension);
	height: var(--custom-icon-button-dimension);
}
