:root{
    --auto_usate_container_margin_bottom: 100px;
    --auto_usate_statistic_division_margin_top: 80px;

    --auto_usate_percentage_font_size_big: 90px;
    --auto_usate_percentage_font_size_medium_portrait: 70px;
    --auto_usate_percentage_font_size_medium_landscape: 80px;
    --auto_usate_percentage_font_size_small: 50px;

    --auto_usate_facebook_link_margin_top: 30px;
}