:root{
    --cookies_switch_label_margin_left: 10px;

    --div_necessary_cookies_margin_top: 10px;

    --save_preferences_button_margin_top: 10px;
    --save_preferences_button_font_size: 14px;
    --save_preferences_button_padding: 10px 20px;
}