:root{
    --cookie_button_dimension_big: 50px;
    --cookie_button_dimension_medium_landscape: 45px;
    --cookie_button_dimension_medium_portrait_and_small: 40px;

    --cookie_button_dimension_big_hover: 52px;

    --cookie_button_margin_right: 15px;
    --cookie_button_margin_bottom: 80px;
}