:root {
    /*----menu----*/
    --menu_font_size_big: 20px;

    --menu_font_size_medium: 18px;

    --menu_font_size_small_landscape: 30px;
    --menu_font_size_small_portrait: 30px;

    /*---- home ----*/
    --home_title_font_size_big: 70px;
    --home_subtitle_font_size_big: 35px;

    --home_title_font_size_medium: 50px;
    --home_subtitle_font_size_medium: 25px;

    --home_title_font_size_small_portrait: 30px;
    --home_subtitle_font_size_small_portrait: 20px;

    --home_title_font_size_small_landscape: 35px;
    --home_subtitle_font_size_small_landscape: 22px;


    /*---- general sections----*/
    --h2_font_size_big: 50px;
    --p_font_size_big: 25px;

    --h2_font_size_medium: 45px;
    --p_font_size_medium: 20px;

    --h2_font_size_small: 25px;
    --p_font_size_small: 18px;

    --secondary_text_font_size_big: 20px;
    --secondary_text_font_size_medium: 18px;
    --secondary_text_font_size_small: 16px;

    /*----- divisions (altri servizi, auto usate and dove siamo) -------*/
    --divisions_title_font_size_big: 30px;
    --divisions_description_font_size_big: 20px;

    --divisions_title_font_size_medium_portrait: 25px;
    --divisions_description_font_size_medium_portrait: 18px;

    --divisions_title_font_size_medium_landscape: 28px;
    --divisions_description_font_size_medium_landscape: 20px;

    --divisions_title_font_size_small: 22px;
    --divisions_description_font_size_small: 16px;
}