:root {
    /**home header**/
    --three_contact_buttons_margin_big_and_medium: 0 10px;
    --three_contact_buttons_dimension_big_and_medium: 25px;

    --three_contact_buttons_margin_small: 0 6px;
    --three_contact_buttons_dimension_small: 20px;

    --home_header_padding_big_and_medium: 5px;

    --home_header_padding_right_small_portrait: 11px;
    --home_header_padding_top_small_portrait: 10px;
    --home_header_padding_right_small_landscape: 11px;
    --home_header_padding_top_small_landscape: 15px;

    --logo_dimension_big_and_medium: 100px;

    /**home content**/
    --home_title_container_margin_left_big: 280px;
    --home_title_margin_top_big: 35px;
    --home_subtitle_margin_top_and_left_big: 5px;

    --home_title_container_margin_left_medium: 220px;
    --home_title_container_margin_top_medium: 10px;
    --home_subtitle_margin_top_medium: 5px;

    --home_title_container_margin_left_small_portrait: 20px;
    --home_title_container_margin_top_small_portrait: 10px;
    --home-title_margin_left_small_portrait: 10px;
    --home_subtitle_margin_top_small_portrait: 5px;
    --home_subtitle_margin_left_small_portrait: 10px;

    --home_title_container_margin_left_small_landscape: 15px;
    --home_title_container_margin_top_small_landscape: 10px;
    --home-title_margin_left_small_landscape: 10px;
    --home_subtitle_margin_top_small_landscape: 5px;
    --home_subtitle_margin_left_small_landscape: 10px;
}