:root{
    --whatsapp_button_dimension_big: 50px;
    --whatsapp_button_dimension_medium_landscape: 45px;
    --whatsapp_button_dimension_medium_portrait_and_small: 40px;

    --whatsapp_button_dimension_big_hover: 52px;

    --whatsapp_button_margin: 20px;

    --whatsapp_button_icon_dimension_big_and_medium_landscape: 20px;
    --whatsapp_button_icon_dimension_medium_portrait_and_small: 18px;
    --whatsapp_button_icon_dimension_small_landscape: 22px;
}
