/* Used Car Drawer Carousel */
.carousel-container {
	max-width: var(--full-size);
	border-radius: var(--border-radius-default) !important;
}

/* Used Car Drawer Carousel — Image Container */
.carousel-container .ant-image {
	width: var(--full-size);
	height: var(--full-size);
	max-width: var(--full-size);
	display: var(--display-flex);
	justify-content: var(--justify-content-center);
	align-items: var(--align-items-center);
	border-radius: var(--border-radius-default) !important;
}

/* Used Car Drawer Carousel — Image */
.carousel-container .ant-image-img {
	width: var(--full-size);
	height: var(--full-size);
	max-width: var(--full-size);
	object-fit: var(--image-object-fit-cover);
	border-radius: var(--border-radius-default) !important;
}

/* Used Car Drawer Carousel — Image Mask */
.carousel-container .ant-image-mask {
	display: var(--display-none);
}

/* ------ Responsive Layout ------ */

/* Big Screen */
@media (min-width: 1025px) {
	.carousel-container {
		width: var(--container-width-large);
		max-height: var(--vh-xlarge);
	}

	.carousel-container .ant-image {
		max-height: var(--vh-xlarge);
	}

	.carousel-container .ant-image-img {
		max-height: var(--vh-xlarge);
	}
}

/* Medium Screen — Portrait */
@media (min-width: 768px) and (max-width: 1024px) {
	.carousel-container {
		width: var(--full-size);
		max-height: var(--vh-medium);
	}

	.carousel-container .ant-image {
		max-height: var(--vh-medium);
	}

	.carousel-container .ant-image-img {
		max-height: var(--vh-medium);
	}
}

/* Medium Screen — Landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.carousel-container {
		width: var(--container-width-medium);
		max-height: var(--vh-xlarge);
	}

	.carousel-container .ant-image {
		max-height: var(--vh-xlarge);
	}

	.carousel-container .ant-image-img {
		max-height: var(--vh-xlarge);
	}
}

/* Small Screen — Portrait */
@media (max-width: 767px) {
	.carousel-container {
		width: var(--full-size);
		max-height: var(--vh-medium);
	}

	.carousel-container .ant-image {
		max-height: var(--vh-medium);
	}

	.carousel-container .ant-image-img {
		max-height: var(--vh-medium);
	}
}

/* Small Screen — Landscape */
@media (max-width: 767px) and (orientation: landscape) {
	.carousel-container {
		width: var(--full-size);
		max-height: var(--vh-xlarge);
	}

	.carousel-container .ant-image {
		max-height: var(--vh-xlarge);
	}

	.carousel-container .ant-image-img {
		max-height: var(--vh-xlarge);
	}
}
