/* Variables */
:root {
	--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape: 80vh;
	--used-car-drawer-carousel-max-height-medium-portrait-small-portrait: 40vh;
}

/* Used Car Drawer Carousel */
.carousel-container {
	max-width: var(--size-full);
	border-radius: var(--border-radius-default) !important;
}

/* Used Car Drawer Carousel — Image Container */
.carousel-container .ant-image {
	width: var(--size-full);
	height: var(--size-full);
	max-width: var(--size-full);
	display: var(--display-flex);
	justify-content: var(--justify-content-center);
	align-items: var(--align-items-center);
	border-radius: var(--border-radius-default) !important;
}

/* Used Car Drawer Carousel — Image */
.carousel-container .ant-image-img {
	width: var(--size-full);
	height: var(--size-full);
	max-width: var(--size-full);
	object-fit: var(--object-fit-cover);
	border-radius: var(--border-radius-default) !important;
}

/* Used Car Drawer Carousel — Image Mask */
.carousel-container .ant-image-mask {
	display: var(--display-none);
}

/* ------ Responsive Layout ------ */

/* Big Screen */
@media (min-width: 1025px) {
	.carousel-container {
		width: var(--container-width-large);
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}

	.carousel-container .ant-image {
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}

	.carousel-container .ant-image-img {
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}
}

/* Medium Screen — Portrait */
@media (min-width: 768px) and (max-width: 1024px) {
	.carousel-container {
		width: var(--size-full);
		max-height: var(
			--used-car-drawer-carousel-max-height-medium-portrait-small-portrait
		);
	}

	.carousel-container .ant-image {
		max-height: var(
			--used-car-drawer-carousel-max-height-medium-portrait-small-portrait
		);
	}

	.carousel-container .ant-image-img {
		max-height: var(
			--used-car-drawer-carousel-max-height-medium-portrait-small-portrait
		);
	}
}

/* Medium Screen — Landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.carousel-container {
		width: var(--container-width-medium);
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}

	.carousel-container .ant-image {
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}

	.carousel-container .ant-image-img {
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}
}

/* Small Screen — Portrait */
@media (max-width: 767px) {
	.carousel-container {
		width: var(--size-full);
		max-height: var(
			--used-car-drawer-carousel-max-height-medium-portrait-small-portrait
		);
	}

	.carousel-container .ant-image {
		max-height: var(
			--used-car-drawer-carousel-max-height-medium-portrait-small-portrait
		);
	}

	.carousel-container .ant-image-img {
		max-height: var(
			--used-car-drawer-carousel-max-height-medium-portrait-small-portrait
		);
	}
}

/* Small Screen — Landscape */
@media (max-width: 767px) and (orientation: landscape) {
	.carousel-container {
		width: var(--size-full);
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}

	.carousel-container .ant-image {
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}

	.carousel-container .ant-image-img {
		max-height: var(
			--used-car-drawer-carousel-max-height-big-medium-landscape-small-landscape
		);
	}
}
