/* Used cars overview flex styles */
.used-car-overview-flex {
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Used cars overview info container styles */
.used-car-overview-info-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Icon styles */
.used-car-overview-info-container img {
    opacity: 0.5;
    margin-bottom: var(--used_car_overview_margin_top);
}