/* Used car drawer styles */
.used-car-drawer,
.ant-drawer-header {
    font-family: Poppins;
    background: var(--darker_background_color) !important;
}

.ant-drawer-content-wrapper {
    width: 100vw !important;
    position: fixed;
}

/* To handle via CSS showing/hiding of components when drawer clicked */
.drawer-open .hamburger-button,
.drawer-open .menu-container-big {
    display: none !important;
}

/* User car drawer flex horizontal container styles */
.used-car-drawer-flex-horizontal {
    height: 100% !important;
}

/* Close icon label styles */
.close-label {
    padding-left: var(--used_car_drawer_close_label_padding_left) !important;
    display: flex;
    flex-direction: row;
    gap: var(--gap_button_label);
    font-size: var(--caption_text_font_size);
    font-family: Poppins;
    color: white !important;
}

/* Carousel container styles */
.carousel-container {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--border_radius);
}

/* Carousel image container styles */
.carousel-container .ant-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carousel image styles */
.carousel-container .ant-image-img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--border_radius);
}

/* Carousel image mask styles */
.carousel-container .ant-image-mask {
    border-radius: var(--border_radius);
}

/* ----------- Big screen ----------- */
@media (min-width: 1025px) {
    .used-car-drawer-flex-horizontal {
        flex-direction: row;
        gap: var(--used_car_drawer_flex_horizontal_gap_big_medium);
    }

    .carousel-container {
        width: var(--carousel_container_width_big);
    }
}
/* ----------- Medium screen portrait ----------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .used-car-drawer-flex-horizontal {
        flex-direction: column;
        gap: var(--used_car_drawer_flex_horizontal_gap_big_medium);
    }

    .carousel-container {
        width: var(--carousel_container_width_medium_portrait);
    }

    .used-car-drawer-flex-horizontal {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}

/* ----------- Medium screen landscape ----------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .used-car-drawer-flex-horizontal {
        flex-direction: row;
        gap: var(--used_car_drawer_flex_horizontal_gap_big_medium);
    }

    .carousel-container {
        width: var(--carousel_container_width_medium_landscape);
    }
}

/* ----------- Small screens ----------- */
@media (max-width: 767px){
    .used-car-drawer-flex-horizontal {
        flex-direction: column;
        gap: var(--used_car_drawer_flex_horizontal_gap_small);
    }

    .carousel-container {
        width: var(--carousel_container_width_small);
    }

    .used-car-drawer-flex-horizontal {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}