/* Used cars card styles */
.used-cars-card {
	width: var(--used_car_card_width);
	padding: var(--used_car_card_padding);
	background: var(--dark_background_color);
	border-radius: var(--border_radius);
	border: var(--used_car_card_border) solid
		var(--dark_gray_border_color);
	box-shadow: var(--used_car_card_box_shadow);
	flex-shrink: var(--used_car_card_flex_shrink);
	scroll-snap-align: center;
	cursor: pointer;
	transition:
		box-shadow 0.3s ease,
		transform 0.3s ease;
}

/* Used cars image presentation container styles */
.used-cars-card-image-container {
	width: var(--used_car_card_image_container_width);
	aspect-ratio: var(
		--used_car_card_image_container_aspect_ratio
	);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

/* Used cars overview flex styles */
.used-car-card-overview-flex {
	display: flex;
	flex-direction: column;
	gap: var(--used_car_card_overview_flex_gap);
}

/* Used cars image presentation styles */
.used-cars-card-image-container img {
	max-width: var(--used_car_card_image_max_width);
	height: var(--used_car_card_image_height);
	object-fit: cover;
	border-radius: var(--border_radius);
}

/* Used cars price container styles */
.used-cars-card-price-container {
	width: var(--used_car_card_price_container_width);
	display: flex;
	justify-content: end;
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
	.used-cars-card:hover {
		box-shadow: var(--used_car_card_box_shadow_hover);
		transform: scale(var(--used_car_card_scale_perc));
	}
}
