/* Used car drawer styles */
.used-car-drawer,
.ant-drawer-header {
    font-family: Poppins;
    background: var(--darker_background_color) !important;
}

.ant-drawer-content-wrapper {
    width: 100vw !important;
    position: fixed;
}

/* To handle via CSS showing/hiding of components when drawer clicked */
.drawer-open .hamburger-button,
.drawer-open .menu-container-big {
    display: none !important;
}

/* User car drawer flex horizontal container styles */
.used-car-drawer-flex-horizontal {
    height: 100% !important;
}

/* ----------- Big screen ----------- */
@media (min-width: 1025px) {
    .used-car-drawer-flex-horizontal {
        flex-direction: row;
        gap: var(--used_car_drawer_flex_horizontal_gap_big_medium);
    }
}
/* ----------- Medium screen portrait ----------- */
@media (min-width: 768px) and (max-width: 1024px) {
    .used-car-drawer-flex-horizontal {
        flex-direction: column;
        gap: var(--used_car_drawer_flex_horizontal_gap_big_medium);
    }

    .used-car-drawer-flex-horizontal {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}

/* ----------- Medium screen landscape ----------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .used-car-drawer-flex-horizontal {
        flex-direction: row;
        gap: var(--used_car_drawer_flex_horizontal_gap_big_medium);
    }
}

/* ----------- Small screens ----------- */
@media (max-width: 767px){
    .used-car-drawer-flex-horizontal {
        flex-direction: column;
        gap: var(--used_car_drawer_flex_horizontal_gap_small);
    }

    .used-car-drawer-flex-horizontal {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}