/* Carousel container styles */
.carousel-container {
    max-width: 100%;
    max-height: var(--carousel_max_height);
    border-radius: var(--border_radius);
}

/* Carousel image container styles */
.carousel-container .ant-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: var(--carousel_max_height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carousel image styles */
.carousel-container .ant-image-img {
    max-width: 100%;
    max-height: var(--carousel_max_height);
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--border_radius);
}

/* Carousel image mask styles */
.carousel-container .ant-image-mask {
    display: none;
}

/* ----------- Big screen ----------- */
@media (min-width: 1025px) {
    .carousel-container {
        width: var(--carousel_container_width_big);
    }
}
/* ----------- Medium screen portrait ----------- */
@media (min-width: 768px) and (max-width: 1024px) {
    .carousel-container {
        width: var(--carousel_container_width_medium_portrait);
    }
}

/* ----------- Medium screen landscape ----------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .carousel-container {
        width: var(--carousel_container_width_medium_landscape);
    }
}

/* ----------- Small screens ----------- */
@media (max-width: 767px){
    .carousel-container {
        width: var(--carousel_container_width_small);
    }
}