/* Collapse styles */
.used-car-drawer-collapse {
	margin-top: var(--used_car_drawer_collapse_margin_top);
	border: none;
	border-radius: var(
		--used_car_drawer_collapse_border_radius
	);
}

/* Collapse item styles */
.ant-collapse-item {
	border: none !important;
}

/* Collapse Header and its text styles */
.ant-collapse-header-text {
	color: white !important;
	font-weight: bold;
	font-family: var(--font_family);
}

.ant-collapse-header {
	margin: var(--used_car_drawer_collapse_header_margins);
	border: none !important;
	padding-left: var(
		--used_car_drawer_collapse_header_padding_left
	) !important;
}

/* Collapse content styles */
.ant-collapse-content-box,
.ant-collapse-content {
	color: white;
	font-family: var(--font_family);
	border: none !important;
	border-left: var(
			--used_car_drawer_collapse_content_border_left
		)
		solid white !important;
	border-radius: var(
		--used_car_drawer_collapse_content_border_radius
	) !important;
	background-color: transparent !important;
}

/* Collapse expand icon styles */
.ant-collapse-expand-icon {
	color: white;
}

/* Collapse lists styles */
.used-car-drawer-collapse-inner-list,
.used-car-drawer-collapse-outer-list {
	padding-inline-start: var(
		--used_car_drawer_collapse_lists_padding_inline_start
	) !important;
	margin-block-start: var(
		--used_car_drawer_collapse_lists_margin_block_start
	) !important;
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
	.ant-collapse-header-text {
		font-size: var(--body_font_size_big);
	}
}

/* ------ Medium screen (portrait and landscape) ------ */
@media (min-width: 768px) and (max-width: 1024px) {
	.ant-collapse-header-text {
		font-size: var(--body_font_size_medium);
	}
}

/* ------ Small screen (portrait and landscape) ------ */
@media (max-width: 767px) {
	.ant-collapse-header-text {
		font-size: var(--body_font_size_small);
	}
}
