/* Variables */
:root {
	--where-we-are-google-maps-height: 60vh;
	--where-we-are-google-maps-iframe-filter-perc: 95%;
	--where-we-are-google-maps-iframe-filter-rotation: 180deg;
	--where-we-are-google-maps-unavailable-background-size: 10%;
	--where-we-are-google-maps-unavailable-container-height: calc(
		var(--where-we-are-google-maps-height) / 2
	);
	--where-we-are-google-maps-unavailable-description-margin: 15%
		5% 0 5%;
}

/* Where We Are — Google Maps */
.google-maps-container {
	width: var(--section-container-max-width);
	height: var(--where-we-are-google-maps-height);
	margin-top: var(--margin-large);
	overflow: var(--overflow-hidden);
	border-radius: var(--border-radius-default);
	box-shadow: var(--shadow-medium);
}

/* Where We Are — Google Maps (iframe) */
.google-maps-iframe {
	width: var(--size-full);
	height: var(--size-full);
	border: var(--border-none);
	filter: invert(
			var(--where-we-are-google-maps-iframe-filter-perc)
		)
		hue-rotate(
			var(--where-we-are-google-maps-iframe-filter-rotation)
		);
}

.google-maps-iframe:hover {
	width: var(--margin-large);
	height: var(--margin-large);
	border: var(--border-none);
	filter: invert(
			var(--where-we-are-google-maps-iframe-filter-perc)
		)
		hue-rotate(
			var(--where-we-are-google-maps-iframe-filter-rotation)
		);
}
