/* Variables */
:root {
	--where-we-are-google-maps-iframe-filter-hue-rotation: 180deg;
}

/* Where We Are — Google Maps */
.google-maps-container {
	width: var(--section-container-max-width);
	height: var(--vh-large);
	margin-top: var(--margin-large);
	overflow: var(--overflow-hidden);
	border-radius: var(--border-radius-default);
	box-shadow: var(--shadow-small);
}

/* Where We Are — Google Maps (iframe) */
.google-maps-iframe {
	width: var(--full-size);
	height: var(--full-size);
	border: var(--border-none);
	filter: invert()
		hue-rotate(
			var(
				--where-we-are-google-maps-iframe-filter-hue-rotation
			)
		);
}
