/* Animation */
@keyframes fadeMenuUp {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Hamburger button styles */
.hamburger-button {
	height: var(--float_button_dimension) !important;
	width: var(--float_button_dimension) !important;
	position: fixed;
	justify-content: center !important;
	align-items: center !important;
	top: var(--float_button_margins);
	right: var(--float_button_margins);
	color: var(--hamburger_button_color) !important;
	background-color: transparent !important;
	border: none !important;
	box-shadow: var(--hamburger-button-box-shadow);
	backdrop-filter: blur(
		var(--hamburger_button_backdrop_filter_blur)
	);
	z-index: var(--hamburger_button_z_index) !important;
}

/* Menu containers styles */
.menu-container-big {
	height: var(--menu_container_big_height);
	width: var(--menu_container_big_width);
	display: block;
	position: fixed;
	background-color: var(--color-background);
	box-shadow: var(--menu-container-big-box-shadow);
	top: var(--menu_container_big_top);
	left: var(--menu_container_big_left);
	z-index: var(--menu_container_big_z_index);
}

.menu-container-small {
	display: block;
	position: fixed;
	z-index: var(--menu_container_small_z_index);
}

/* Small Menu general styles */
.ant-menu {
	font-size: var(--font-size-heading-small) !important;
	border: none !important;
	background-color: var(--color-background) !important;
	padding-top: 20px;
}

/* Small Menu items styles */
.ant-menu-item-selected {
	background-color: var(--color-background) !important;
}

.ant-menu-item:hover {
	background-color: var(--color-background) !important;
}

.ant-menu-item {
	margin-bottom: var(--menu_items_gap) !important;
	color: var(--color-white) !important;
	font-family: var(--font-family);
	opacity: 0;
	transform: translateY(
		var(--menu_container_big_y_translation)
	);
	animation: fadeMenuUp 0.5s forwards;
	transition:
		transform 0.3s ease,
		color 0.3s ease;
}

/* Small Menu header styles */
.ant-drawer-header {
	border-bottom: none !important;
	background-color: var(--color-background) !important;
}

/* Small Menu content styles */
.ant-drawer-content {
	background-color: var(--color-background) !important;
}

/* Close outline small Menu styles */
.close-outline {
	color: var(--close_outline_color);
	position: absolute;
	padding: var(--float_button_margins) 0 0;
	right: calc(var(--float_button_margins) * 2);
}

/* Big Menu items styles */
.ant-anchor-link-title {
	color: var(--color-white) !important;
	font-family: var(--font-family) !important;
	padding-top: var(--menu_items_gap);
	transition: color 0.3s ease;
}

.ant-anchor-link-active > .ant-anchor-link-title {
	font-weight: bold;
	color: var(--color-white) !important;
}

/* Big Menu ink styles */
.ant-anchor-ink {
	width: var(--menu_anchor_ink_width);
	margin-top: var(--menu_ink_margin_top);
	background-color: var(--color-accent) !important;
}

/* ----------- Big screen ----------- */
@media (min-width: 1025px) {
	.menu-container-small {
		display: none;
	}

	.ant-anchor-link-title {
		font-size: var(--font-size-body-big);
	}
}

/* ----------- Medium screens ----------- */
@media (min-width: 768px) and (max-width: 1024px) {
	.menu-container-small {
		display: none;
	}

	.ant-anchor-link-title {
		font-size: var(--font-size-body-medium);
	}
}

/* ----------- Small screen portrait ----------- */
@media (max-width: 767px) {
	.menu-container-big {
		display: none;
	}
}

/* ----------- Small screen landscape ----------- */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	.menu-container-big {
		display: none;
	}
}
