/* Home Content — Animation */
@keyframes homeTitleSubtitleSlideUp {
	from {
		opacity: var(--opacity-zero);
		transform: translateY(
			var(--animation-translate-hidden)
		);
	}
	to {
		opacity: var(--opacity-high);
		transform: translateY(
			var(--animation-translate-visible)
		);
	}
}

/* Home Content */
.home-content {
	margin-top: var(--vh-xsmall);
	display: var(--display-flex);
	flex-direction: var(--flex-direction-column);
}

/* Home Content — Logo */
.logo-image {
	height: var(--image-size-medium);
	width: var(--image-size-medium);
	opacity: var(--opacity-zero);
	box-shadow: var(--shadow-small);
	animation: homeTitleSubtitleSlideUp
		var(--animation-duration-medium)
		var(--animation-timing-ease)
		var(--animation-fill-mode-forwards);
}

/* Home Content — Title */
.home-title {
	margin-bottom: var(--zero-margin);
	font-size: var(--font-size-home-title);
	color: var(--color-accent);
	opacity: var(--opacity-zero);
	animation: homeTitleSubtitleSlideUp
		var(--animation-duration-medium)
		var(--animation-timing-ease)
		var(--animation-fill-mode-forwards);
	animation-delay: var(--animation-duration-medium);
}

/* Home Subtitle styles */
.home-subtitle {
	margin-top: var(--zero-margin);
	font-family: var(--font-family-cursive);
	font-size: var(--font-size-home-subtitle);
	color: var(--color-white);
	opacity: var(--opacity-zero);
	animation: homeTitleSubtitleSlideUp
		var(--animation-duration-medium)
		var(--animation-timing-ease)
		var(--animation-fill-mode-forwards);
	animation-delay: calc(
		var(--animation-duration-medium) * 2
	);
}

/* ------ Responsive Layout ------ */

/* Big Screen */
@media (min-width: 1025px) {
	.home-content {
		margin-left: var(--section-container-margin-left-big);
	}
}

/* Medium Screen */
@media (min-height: 768px) and (max-width: 1024px) {
	.home-content {
		margin-left: var(
			--section-container-margin-left-medium
		);
	}
}

/* Small Screen — Portrait */
@media (max-width: 767px) and (orientation: portrait) {
	.home-content {
		margin-left: var(
			--section-container-margin-left-small-portrait
		);
	}
}

/* Small Screen — Landscape */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	.home-content {
		margin-left: var(
			--section-container-margin-left-small-landscape
		);
	}
}
