/* Variables */
:root {
	--home-content-animation-transform-translate-y-from: 20px;
	--home-content-animation-transform-translate-y-to: 0;
	--home-content-margin-top: 20vh;
	--home-content-logo-dimension: 50px;
	--home-content-title-margin-bottom: 0;
	--home-content-title-animation-delay: 0.6s;
	--home-content-subtitle-margin-top: 0;
	--home-content-subtitle-font-family: "Dancing Script";
	--home-content-subtitle-animation-delay: 1.2s;
}

/* Home Content — Animation */
@keyframes homeTitleSubtitleSlideUp {
	from {
		opacity: var(--opacity-zero);
		transform: translateY(var(--home-content-animation-transform-translate-y-from));
	}
	to {
		opacity: var(--opacity-high);
		transform: translateY(var(--home-content-animation-transform-translate-y-to));
	}
}

/* Home Content */
.home-content {
	margin-top: var(--home-content-margin-top);
	display: var(--display-flex);
	flex-direction: var(--flex-direction-column);
}

/* Home Content — Logo */
.logo-image {
	height: var(--home-content-logo-dimension);
	width: var(--home-content-logo-dimension);
	opacity: var(--opacity-zero);
	box-shadow: var(--shadow-medium);
	animation: homeTitleSubtitleSlideUp var(--animation-duration-medium) var(--animation-timing-ease) var(--animation-fill-mode-forwards);
}

/* Home Content — Title */
.home-title {
	margin-bottom: var(--home-content-title-margin-bottom);
	font-size: var(--font-size-home-title);
	color: var(--color-accent);
	opacity: var(--opacity-zero);
	animation: homeTitleSubtitleSlideUp var(--animation-duration-medium) var(--animation-timing-ease) var(--animation-fill-mode-forwards);
	animation-delay: var(--home-content-title-animation-delay);
}

/* Home Subtitle styles */
.home-subtitle {
	margin-top: var(--home-content-subtitle-margin-top);
	font-family: var(--home-content-subtitle-font-family);
	font-size: var(--font-size-home-subtitle);
	color: var(--color-white);
	opacity: var(--opacity-zero);
	animation: homeTitleSubtitleSlideUp var(--animation-duration-medium) var(--animation-timing-ease) var(--animation-fill-mode-forwards);
	animation-delay: var(--home-content-subtitle-animation-delay);
}

/* ------ Responsive Layout ------ */

/* Big Screen */
@media (min-width: 1025px) {
	.home-content {
		margin-left: var(--section-container-margin-left-big);
	}
}

/* Medium Screen */
@media (min-height: 768px) and (max-width: 1024px) {
	.home-content {
		margin-left: var(--section-container-margin-left-medium);
	}
}

/* Small Screen — Portrait */
@media (max-width: 767px) and (orientation: portrait) {
	.home-content {
		margin-left: var(--section-container-margin-left-small-portrait);
	}
}

/* Small Screen — Landscape */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	.home-content {
		margin-left: var(--section-container-margin-left-small-landscape);
	}
}
