/* Variables */
:root {
	--cookie-button-background-image: url("../../../public/icons/cookie_icon.svg");
}

/* Cookie Button */
.cookie-button {
	width: var(--float_button_dimension);
	height: var(--float_button_dimension);
	bottom: var(--float_button_margins);
	right: var(--float_button_margins);
	position: var(--position-fixed);
	z-index: var(--z-index-high);
	border-radius: var(--border-radius-circle);
	border: var(--border-none);
	background-color: var(--color-blue);
	background-image: var(--cookie-button-background-image);
	background-repeat: var(--background-no-repeat);
	background-position: var(--background-position-center);
}

/* Cookie Button — Hover */
.cookie-button:hover {
	scale: var(--scale-large);
	bottom: var(--float_button_margins) !important;
	position: var(--position-fixed) !important;
	z-index: var(--z-index-high) !important;
	border-radius: var(
		--border-radius-circle
	) !important;
	border: var(--border-none) !important;
	background-color: var(--color-blue) !important;
	background-image: var(--cookie-button-background-image) !important;
	background-repeat: var(--background-no-repeat) !important;
	background-position: var(--background-position-center) !important;
}
