/* Variables */
:root {
	--cookie-button-background-image: url("../../../public/icons/cookie_icon.svg");
}

/* Cookie Button */
.cookie-button {
	width: var(--float-button-dimension);
	height: var(--float-button-dimension);
	bottom: var(--float-button-margin);
	right: var(--float-button-margin);
	position: var(--position-fixed);
	z-index: var(--z-index-high);
	border-radius: var(--border-radius-circle);
	border: var(--border-none);
	background-color: var(--color-blue);
	background-image: var(--cookie-button-background-image);
	background-repeat: var(--background-no-repeat);
	background-position: var(--background-position-center);
	box-shadow: var(--shadow-large);
	transition: var(--animation-duration-short)
		var(--animation-timing-ease-out);
}

/* Cookie Button — Hover */
.cookie-button:hover {
	transform: scale(var(--scale-medium));
	bottom: var(--float-button-margin) !important;
	position: var(--position-fixed) !important;
	z-index: var(--z-index-high) !important;
	border-radius: var(--border-radius-circle) !important;
	border: var(--border-none) !important;
	background-color: var(--color-blue) !important;
	background-image: var(
		--cookie-button-background-image
	) !important;
	background-repeat: var(--background-no-repeat) !important;
	background-position: var(
		--background-position-center
	) !important;
	box-shadow: var(--shadow-xxl);
}
