/* -------- Background -------- */
:root {
    /* — Repeat — */
    --background-no-repeat: no-repeat;
    --background-repeat: repeat;

    /* — Position — */
    --background-position-center: center;
    --background-position-center-top: center top;

    /* — Size — */
    --background-size-auto: auto;

    /* — Object Fit — */
    --background-object-fit-cover: cover;
}