/* -------- Background -------- */
:root {
    /* — Repeat — */
    --background-no-repeat: no-repeat;
    --background-repeat: repeat;

    /* — Position — */
    --background-position-center: center;

    /* — Size — */
    --background-size-auto: auto;
}