/* -------- Borders -------- */
:root {
	/* — General — */
	--border-none: none;

	/* — Width — */
	--border-width-small: 1px;
	--border-width-big: 2px;

	/* — Radius — */
	--border-radius-default: 4px;
	--border-radius-full: 50%;

	/* — Style — */
	--border-style-solid: solid;
}
