/* -------- Borders -------- */
:root {
	/* — General — */
	--border-none: none;

    /* — Width — */
	--border-width-buttons-default: 1px;
	--border-width-google-maps-iframe: 0;

    /* — Radius — */
	--border-radius-default: 4px;
	--border-radius-circle: 50%;

	/* — Styling — */
	--border-style-solid: solid;
}
