/* -------- Borders -------- */
:root {
    /* — Border Width — */
	--border-width-buttons-default: 1px;
	--border-width-google-maps-iframe: 0;

    /* — Border Radius — */
	--border-radius-default: 4px;
	--border-radius-circle: 50%;

	/* — Border Style — */
	--border-style-solid: solid;
}
