/* -------- Colors -------- */
:root {
	/* — Base — */
	--color-blue: #005fcc;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-background: #141414;
	--color-accent: #f8de4d;
	--color-transparent: transparent;

	/* — Gradient — */
	--gradient-accent: linear-gradient(
		90deg,
		#fff200,
		#ffd700,
		#ffbf00,
		#ffa500
	);
	--gradient-red: linear-gradient(
		90deg,
		#ff3737,
		#ff8e53
	);
	--gradient-blue: linear-gradient(
		90deg,
		#2a8eff,
		#7cdfff
	);
	--gradient-green: linear-gradient(
		90deg,
		#2ba35f,
		#7dffcc
	);
}
