/* -------- Colors -------- */
:root {
	/*  Base  */
	--color-blue: #005fcc;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-background: #141414;
	--color-accent: #f8de4d;
	--color-transparent: transparent;

	/*  Gradient  */
	--color-accent-gradient: linear-gradient(
		90deg,
		#fff200,
		#ffd700,
		#ffbf00,
		#ffa500
	);
	--color-red-gradient: linear-gradient(
		90deg,
		#ff3737,
		#ff8e53
	);
	--color-blue-gradient: linear-gradient(
		90deg,
		#2a8eff,
		#7cdfff
	);
	--color-green-gradient: linear-gradient(
		90deg,
		#2ba35f,
		#7dffcc
	);
	--color-dark-gradient-top: linear-gradient(
		to top,
		rgba(20, 20, 20, 0) 50%,
		rgba(20, 20, 20, 1) 100%
	);
	--color-dark-gradient-bottom: linear-gradient(
		to bottom,
		rgba(20, 20, 20, 0) 50%,
		rgba(20, 20, 20, 1) 100%
	);
	--color-dark-gradient-left: linear-gradient(
		to left,
		rgba(20, 20, 20, 0) 50%,
		rgba(20, 20, 20, 1) 100%
	);

	/* Opacity */
	--opacity-zero: 0;
	--opacity-low: 0.8;
	--opacity-high: 1;
}
