/* -------- Images -------- */
:root {
	/* — Size — */
	--image-size-small: 30px;
	--image-size-medium: 50px;
	--image-size-large: 120px;
	--image-size-xlarge: 250px;

	/* — Object Fit — */
	--image-object-fit-cover: cover;
}
