/* Our Values — Steps */
.our-values-steps {
	font-family: var(--font-family-default);
}

.ant-steps-item-icon,
.ant-steps-icon-dot,
.ant-steps-item-tail::after {
	background-color: var(--color-accent) !important;
}

.custom-heading.in-view {
	margin: var(--zero-margin) !important;
}

.ant-steps-item-description,
.ant-steps-item-description.in-view {
	margin-bottom: var(--margin-large);
}
