/* Variables */
:root {
	--used-cars-container-padding: 30px;
	--used-cars-container-gap: 20px;
	--used-cars-custom-loading-outlined-margin-left: 15vw;
	--used-cars-container-webkit-overflow-scrolling: touch;
	--used-cars-container-scroll-snap-type: x mandatory;
	--used-cars-unavailable-image-dimension: 250px;
}

/* Used Cars Container */
.used-cars-container {
	width: var(--section-container-max-width);
	display: var(--display-flex);
	flex-direction: var(--flex-direction-row);
	gap: var(--used-cars-container-gap);
	padding: var(--used-cars-container-padding);
	overflow-x: var(--overflow-auto);
	scrollbar-width: var(--scrollbar-width-default);
	-webkit-overflow-scrolling: var(
		--used-cars-container-webkit-overflow-scrolling
	);
	scroll-snap-type: var(
		--used-cars-container-scroll-snap-type
	);
}

/* Hide Scroll Bar */
.used-cars-container::-webkit-scrollbar {
	-webkit-overflow-scrolling: var(
		--used-cars-container-webkit-overflow-scrolling
	);
}
::-webkit-scrollbar {
	display: var(--display-none);
}

/* Used Cars Container — Unavailable Used Cars */
.unavailable-used-cars-container {
	width: var(--section-container-max-width);
	display: var(--display-flex) !important;
	align-items: var(--align-items-center) !important;
	flex-direction: var(--flex-direction-column) !important;
	justify-content: var(--justify-content-center) !important;
	opacity: var(--opacity-low);
}

/* Used Cars Container — Unavailable Used Cars Image */
.unavailable-used-cars-container img {
	height: var(--used-cars-unavailable-image-dimension);
	width: var(--used-cars-unavailable-image-dimension);
}
