/* Variables */
:root {
	--contacts-footer-width: 80%;
	--contacts-footer-padding: 0;
}

/* Contacts Footer */
.contacts-footer {
	width: var(--contacts-footer-width);
	padding: var(--contacts-footer-padding);
	color: var(--color-white);
	background-color: var(--color-background);
}

/* Contacts Footer — Text */
.contacts-footer-text {
	font-size: var(--font-size-caption);
}

/* ------ Responsive Layout ------ */

/* Big Screen */
@media (min-width: 1025px) {
	.contacts-footer-text {
		margin-left: var(--section-container-margin-left-big);
	}
}

/* Medium Screen Landscape  */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.contacts-footer-text {
		margin-left: var(
			--section-container-margin-left-medium
		);
	}
}

/* Medium Screen Portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.contacts-footer-text {
		margin-left: var(
			--section-container-margin-left-medium
		);
	}
}

/* Small Screen Portrait */
@media (max-width: 767px) and (orientation: portrait) {
	.contacts-footer-text {
		margin-left: var(
			--section-container-margin-left-small-portrait
		);
	}
}

/* Small Screen Landscape */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	.contacts-footer-text {
		margin-left: var(
			--section-container-margin-left-small-landscape
		);
	}
}
