/* Home Header */
.home-header {
	display: var(--display-flex);
	justify-content: var(--justify-content-right);
	gap: var(--gap-small);
	padding-right: var(--padding-small);
	background-color: var(--color-transparent);
}

/* ------ Responsive Layout ------ */

/* Small Screen — Portrait */
@media (max-width: 767px) and (orientation: portrait) {
	.home-header {
		justify-content: var(--justify-content-left);
		padding-left: var(
			--section-container-margin-left-small-portrait
		);
	}
}

/* Small Screen — Landscape */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	.home-header {
		justify-content: var(--justify-content-left);
		padding-left: var(
			--section-container-margin-left-small-landscape
		);
	}
}
