/* Variables */
:root {
	--services-title-webkit-background-clip: text;
}

/* Services */
.services-container {
	width: var(--section-container-max-width);
	margin-top: var(--margin-large);
	display: var(--display-flex);
	flex-direction: var(--flex-direction-row);
	gap: var(--gap-large);
	overflow-x: var(--overflow-auto);
	overflow-y: var(--overflow-hidden);
}
