/* Text Animation */
@keyframes slideInHome {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Home Title styles */
.home-title {
    color: var(--accent_color);
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
    animation: slideInHome 1.5s ease forwards;
    animation-delay: 0.7s;
}

/* Home Subtitle styles */
.home-subtitle {
    margin: 0;
    color: white;
    opacity: 0;
    animation: slideInHome 1.5s ease forwards;
    animation-delay: 1.3s;
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
    .home-title {
        font-size: var(--home_title_font_size_big);
    }

    .home-subtitle {
        font-size: var(--home_subtitle_font_size_big);
    }
}

/* ------ Medium screen landscape ------- */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .home-title {
        font-size: var(--home_title_font_size_medium);
    }

    .home-subtitle {
        font-size: var(--home_subtitle_font_size_medium);
    }
}

/* ------ Medium screen portrait ------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .home-title {
        font-size: var(--home_title_font_size_medium);
    }

    .home-subtitle {
        font-size: var(--home_subtitle_font_size_medium);
    }
}

/* ------ Small screen portrait ------- */
@media (max-width: 767px) and (orientation: portrait) {
    .home-title {
        font-size: var(--home_title_font_size_small_portrait);
    }

    .home-subtitle {
        font-size: var(--home_subtitle_font_size_small_portrait);
    }
}

/* ------ Small screen landscape ------- */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
    .home-title {
        font-size: var(--home_title_font_size_small_landscape);
    }

    .home-subtitle {
        font-size: var(--home_subtitle_font_size_small_landscape);
    }
}