/* Text Animation */
@keyframes slideUpHomeTitle {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Home Title styles */
.home-title {
	margin-bottom: var(--home_title_margin_bottom);
	background: var(--yellow_gradient_color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	opacity: 0;
	animation: slideUpHomeTitle 1s ease forwards;
	animation-delay: var(--home_title_animation_delay);
}

/* Home Subtitle styles */
.home-subtitle {
	margin-top: var(--home_subtitle_margin_top);
	color: white;
	text-align: center;
	opacity: 0;
	animation: slideUpHomeTitle 1s ease forwards;
	animation-delay: var(--home_subtitle_animation_delay);
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
	.home-title {
		font-size: var(--home_title_font_size_big);
	}

	.home-subtitle {
		font-size: var(--home_subtitle_font_size_big);
	}
}

/* ------ Medium screen landscape ------- */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.home-title {
		font-size: var(--home_title_font_size_medium);
	}

	.home-subtitle {
		font-size: var(--home_subtitle_font_size_medium);
	}

	.home-content {
		margin-left: var(--section_margin_left_medium);
	}
}

/* ------ Medium screen portrait ------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.home-title {
		font-size: var(--home_title_font_size_medium);
	}

	.home-subtitle {
		font-size: var(--home_subtitle_font_size_medium);
	}

	.home-content {
		margin-left: var(--section_margin_left_medium);
	}
}

/* ------ Small screen portrait ------- */
@media (max-width: 767px) and (orientation: portrait) {
	.home-title {
		font-size: var(--home_title_font_size_small);
	}

	.home-subtitle {
		font-size: var(--home_subtitle_font_size_small);
	}
}

/* ------ Small screen landscape ------- */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	.home-title {
		font-size: var(--home_title_font_size_small);
	}

	.home-subtitle {
		font-size: var(--home_subtitle_font_size_small);
	}
}
