/* Common styles */
.home-header{
    display: flex;
    justify-content: right;
    background-color: var(--background_color);
}

.contact-button{
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0;
}

.contact-button:hover {
    transform: scale(1.1);
}

.logoWrapper img {
    width: 100%;
    height: 100%;
}

.logoWrapper{
    z-index: 99999;
    top: 0;
}

/* -------- Big screen -------- */
@media (min-width: 1025px) {
    .home-header {
        padding-top: var(--home_header_padding_big_and_medium);
        padding-right: var(--home_header_padding_big_and_medium);
    }

    .contact-button {
        margin: var(--three_contact_buttons_margin_big_and_medium);
    }

    .contact-button img {
        width: var(--three_contact_buttons_dimension_big_and_medium);
        height: var(--three_contact_buttons_dimension_big_and_medium);
    }

    .logoWrapper {
        position: fixed;
        left: var(--logo_margin_left_big_and_medium);
    }

    .logoWrapper img{
        width: var(--logo_dimension_big_and_medium);
        height: var(--logo_dimension_big_and_medium);
    }

}

/* -------- Medium screen -------- */
@media (min-width: 768px) and (max-width: 1024px) {
    .home-header {
        padding-top: var(--home_header_padding_big_and_medium);
        padding-right: var(--home_header_padding_big_and_medium);
    }

    .contact-button {
        margin: var(--three_contact_buttons_margin_big_and_medium);
    }

    .contact-button img {
        width: var(--three_contact_buttons_dimension_big_and_medium);
        height: var(--three_contact_buttons_dimension_big_and_medium);
    }

    .logoWrapper {
        position: fixed;
        left: var(--logo_margin_left_big_and_medium);
    }

    .logoWrapper img{
        width: var(--logo_dimension_big_and_medium);
        height: var(--logo_dimension_big_and_medium);
    }
}

/* -------- Small screen portrait -------- */
@media (max-width: 767px) {
    .home-header {
        padding-right: var(--home_header_padding_right_small_portrait);
        padding-top: var(--home_header_padding_top_small_portrait);
        align-items: flex-start;
    }

    .contact-button {
        margin: var(--three_contact_buttons_margin_small);
    }

    .contact-button img {
        width: var(--three_contact_buttons_dimension_small);
        height: var(--three_contact_buttons_dimension_small);
    }

    .logoWrapper img{
        width: var(--logo_dimension_small);
        height: var(--logo_dimension_small);
    }

    .logoWrapper {
        left: var(--general_margin_left_small_portrait);
        top: 0;
    }
}

/* -------- Small screen landscape -------- */
@media (max-height: 767px) and (orientation: landscape){
    .home-header {
        padding-right: var(--home_header_padding_right_small_landscape);
        padding-top: var(--home_header_padding_top_small_landscape);
        align-items: flex-start;
    }

    .contact-button {
        margin: var(--three_contact_buttons_margin_small);
    }

    .contact-button img {
        width: var(--three_contact_buttons_dimension_small);
        height: var(--three_contact_buttons_dimension_small);
    }

    .logoWrapper img{
        width: var(--logo_dimension_small);
        height: var(--logo_dimension_small);
    }

    .logoWrapper {
        left: var(--general_margin_left_small_landscape);
        top: 0;
    }
}