/* Home Header styles */
.home-header{
    display: flex;
    justify-content: right;
    padding-right: var(--home_header_padding_right);
    padding-bottom: var(--home_header_padding_bottom);
    background-color: var(--background_color);
}