/* Variables */
:root {
	/* — Layout — */
	--menu-big-screen-width: 170px;
}

/* ------ Responsive Layout ------ */

/* Big screen and Medium Screen */
@media (min-width: 1025px),
	(min-width: 768px) and (max-width: 1024px) {
	/* Menu Small Screen (Hide) */
	.menu-container-small {
		display: var(--display-none);
	}

	/* Menu Big Screen */
	.menu-container-big {
		height: var(--vh-full);
		width: var(--menu-big-screen-width);
		display: var(--display-block);
		position: var(--position-fixed);
		background-color: var(--color-background);
		box-shadow: var(--shadow-xlarge);
		top: var(--zero-position);
		left: var(--zero-position);
		z-index: var(--z-index-low);
	}

	/* Menu Big Screen — Items */
	.ant-anchor-link-title {
		color: var(--color-white) !important;
		font-family: var(--font-family) !important;
		font-size: var(--font-size-body) !important;
		padding-top: var(--padding-large);
	}

	.ant-anchor-link-active > .ant-anchor-link-title {
		font-weight: var(--font-weight-bold);
		color: var(--color-white) !important;
	}

	/* Menu Big Screen — Ink */
	.ant-anchor-ink {
		width: var(--border-width-big);
		margin-top: var(--margin-small);
		background-color: var(--color-accent) !important;
	}
}
