/* Common styles */
.home-header{
    display: flex;
    justify-content: right;
    background-color: var(--background_color);
}

.contact-button{
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0;
}

.contact-button:hover {
    transform: scale(1.1);
}

.logoCircle{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.logoCircle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logoWrapper{
    z-index: 99999;
    top: 0;
    left: 0;
}

/* -------- Big screen -------- */
@media (min-width: 1025px) {
    .home-header {
        padding-top: var(--home_header_padding_big_and_medium);
        padding-right: var(--home_header_padding_big_and_medium);
    }

    .contact-button {
        margin: var(--three_contact_buttons_margin_big_and_medium);
    }

    .contact-button img {
        width: var(--three_contact_buttons_dimension_big_and_medium);
        height: var(--three_contact_buttons_dimension_big_and_medium);
    }

    .logoCircle {
        width: var(--logo_dimension_big_and_medium);
        height: var(--logo_dimension_big_and_medium);
    }

    .logoWrapper {
        position: fixed;
    }

}

/* -------- Medium screen -------- */
@media (min-width: 768px) and (max-width: 1024px) {
    .home-header {
        padding-top: var(--home_header_padding_big_and_medium);
        padding-right: var(--home_header_padding_big_and_medium);
    }

    .contact-button {
        margin: var(--three_contact_buttons_margin_big_and_medium);
    }

    .contact-button img {
        width: var(--three_contact_buttons_dimension_big_and_medium);
        height: var(--three_contact_buttons_dimension_big_and_medium);
    }

    .logoCircle {
        width: var(--logo_dimension_big_and_medium);
        height: var(--logo_dimension_big_and_medium);
    }

    .logoWrapper {
        position: fixed;
    }
}

/* -------- Small screen portrait -------- */
@media (max-width: 767px) {
    .home-header {
        padding-right: var(--home_header_padding_right_small_portrait);
        padding-top: var(--home_header_padding_top_small_portrait);
        align-items: flex-start;
    }

    .contact-button {
        margin: var(--three_contact_buttons_margin_small);
    }

    .contact-button img {
        width: var(--three_contact_buttons_dimension_small);
        height: var(--three_contact_buttons_dimension_small);
    }

    .logoCircle {
        width: 100px;
        height: 100px;
    }
}

/* -------- Small screen landscape -------- */
@media (max-height: 767px) and (orientation: landscape){
    .home-header {
        padding-right: var(--home_header_padding_right_small_landscape);
        padding-top: var(--home_header_padding_top_small_landscape);
        align-items: flex-start;
    }

    .contact-button {
        margin: var(--three_contact_buttons_margin_small);
    }

    .contact-button img {
        width: var(--three_contact_buttons_dimension_small);
        height: var(--three_contact_buttons_dimension_small);
    }

    .logoCircle {
        width: 100px;
        height: 100px;
    }
}