/** Animation **/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg) translateY(20px);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg) translateY(0);
    }
}

.auto-usate-title,
.auto-usate-subtitle {
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.auto-usate-title.in-view,
.auto-usate-subtitle.in-view {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
}

/** Common styles **/
.auto-usate-container {
    width: 90%;
    text-align: left;
    top: 0;
    position: relative;
    background-color: var(--background_color);
    margin-bottom: var(--auto_usate_container_margin_bottom);
}

.auto-usate-title{
    color: var(--accent_color);
    text-align: left;
}

.auto-usate-subtitle{
    text-align: left;
    color: white;
}

.custom-statistic-grid{
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: start;
    justify-content: start;
    text-align: left;
}

/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .auto-usate-title {
        width: var(--general_h2_p_width_big);
        margin-left: var(--general_margin_left_big);
        font-size: var(--h2_font_size_big);
        padding-top: var(--general_margin_top_title_big_medium);
    }

    .auto-usate-subtitle {
        width: var(--general_h2_p_width_big);
        font-size: var(--p_font_size_big);
        margin-left: var(--general_margin_left_big);
    }

    .custom-statistic-grid {
        gap: 1rem;
        margin-left: var(--general_margin_left_big);
        margin-top: var(--auto_usate_statistic_division_margin_top);
        margin-bottom: var(--auto_usate_facebook_link_margin_top);
    }

}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .auto-usate-title {
        margin-left: var(--general_margin_left_medium_portrait);
        font-size: var(--h2_font_size_medium);
        padding-top: var(--general_margin_top_title_big_medium);
    }

    .auto-usate-subtitle {
        font-size: var(--p_font_size_medium);
        margin-left: var(--general_margin_left_medium_portrait);
    }

    .custom-statistic-grid {
        gap: 2rem;
        margin-left: var(--general_margin_left_medium_portrait);
        margin-top: var(--auto_usate_statistic_division_margin_top);
        margin-bottom: var(--auto_usate_facebook_link_margin_top);
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .auto-usate-title{
        margin-left: var(--general_margin_left_medium_landscape);
        font-size: var(--h2_font_size_medium);
        padding-top: var(--general_margin_top_title_big_medium);
    }

    .auto-usate-subtitle{
        font-size: var(--p_font_size_medium);
        margin-left: var(--general_margin_left_medium_landscape);
    }

    .custom-statistic-grid {
        gap: 2rem;
        margin-left: var(--general_margin_left_medium_landscape);
        margin-top: var(--auto_usate_statistic_division_margin_top);
        margin-bottom: var(--auto_usate_facebook_link_margin_top);
    }

}

/* Small screen portrait*/
@media (max-width: 767px) {

    .auto-usate-title {
        width: var(--general_h2_width_small_portrait);
        margin-left: var(--general_margin_left_small_portrait);
        font-size: var(--h2_font_size_small);
        padding-top: var(--general_margin_top_small_portrait);
    }

    .auto-usate-subtitle {
        width: var(--general_p_width_small_portrait);
        font-size: var(--p_font_size_small);
        margin-left: var(--general_margin_left_small_portrait);
    }

    .custom-statistic-grid {
        gap: 1rem;
        margin-left: var(--general_margin_left_small_portrait);
        margin-top: var(--auto_usate_statistic_division_margin_top);
        margin-bottom: var(--auto_usate_facebook_link_margin_top);
    }

}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px){

    .auto-usate-title {
        width: var(--general_h2_width_small_landscape);
        margin-left: var(--general_margin_left_small_landscape);
        font-size: var(--h2_font_size_small);
        padding-top: var(--general_margin_top_small_landscape);
    }

    .auto-usate-subtitle {
        width: var(--general_p_width_small_landscape);
        font-size: var(--p_font_size_small);
        margin-left: var(--general_margin_left_small_landscape);
    }

    .custom-statistic-grid {
        gap: 1rem;
        margin-left: var(--general_margin_left_small_landscape);
        margin-top: var(--auto_usate_statistic_division_margin_top);
        margin-bottom: var(--auto_usate_facebook_link_margin_top);
    }

}
