/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--percentage_font_size_big);
        color: white;
        font-weight: bold;
        font-family: Poppins;
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_size_big);
        color: white;
        font-family: Poppins;
    }
}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--percentage_font_size_medium_portrait);
        color: white;
        font-weight: bold;
        font-family: Poppins;
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_size_medium);
        color: white;
        font-family: Poppins;
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--percentage_font_size_medium_landscape);
        color: white;
        font-weight: bold;
        font-family: Poppins;
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_size_medium);
        color: white;
        font-family: Poppins;
    }

}

/* Small screen portrait*/
@media (max-width: 767px) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--percentage_font_size_small);
        color: white;
        font-weight: bold;
        font-family: Poppins;
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_size_small);
        color: white;
        font-family: Poppins;
    }

}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--percentage_font_size_small);
        color: white;
        font-weight: bold;
        font-family: Poppins;
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_size_small);
        color: white;
        font-family: Poppins;
    }

}
