/** Animation **/
.custom-statistic .ant-statistic-content{
    color: white;
    font-weight: bold;
    font-family: Poppins;
}

.custom-statistic .ant-statistic-title{
    color: white;
    font-family: Poppins;
}

/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--auto_usate_percentage_font_size_big);
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_font_size_big);
    }
}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--auto_usate_percentage_font_size_medium_portrait);
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_font_size_medium);
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--auto_usate_percentage_font_size_medium_landscape);
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_font_size_medium);
    }

}

/* Small screen portrait*/
@media (max-width: 767px) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--auto_usate_percentage_font_size_small);
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_font_size_small);
    }

}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {

    .custom-statistic .ant-statistic-content {
        font-size: var(--auto_usate_percentage_font_size_small);
    }

    .custom-statistic .ant-statistic-title {
        font-size: var(--secondary_text_font_size_small);
    }

}
