/* Contatti Layout styles */
.contatti-layout {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Poppins';
    background-color: var(--background_color);
}