.our-values-steps {
	font-family: var(--font_family);
	padding: 0 !important;
}

.ant-steps-item-icon,
.ant-steps-icon-dot,
.ant-steps-item-tail::after {
	background-color: var(--yellow_color) !important;
	color: var(--yellow_color) !important;
}

.ant-steps-item-title,
.ant-steps-item-title.in-view {
	padding: 0 !important;
	margin-top: calc(
		var(--subheading_font_size_big) * -1.5
	) !important;
}

.ant-steps-item-description,
.ant-steps-item-description.in-view {
	padding: 0 !important;
	margin-bottom: 80px;
}
