/* Used cars container styles */
.used-cars-container {
    width: 120%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: auto;
    scrollbar-width: none;
    transition: opacity 0.5s ease-out;
}

/* Loading outlines styles */
.loading-outlined {
    position: relative;
    margin-top: 20%;
    margin-bottom: 50%;
    margin-left: 58%;
    margin-right: 50%;
    color: white;
}