/* Used cars container styles */
.used-cars-container {
    width: var(--section_max_width);
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: var(--used_car_card_gap);
    overflow-x: auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    transition: opacity 0.5s ease-out;
}

.used-cars-container::-webkit-scrollbar {
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}