/* Variables */
:root {
	--custom-back-button-padding-top: 20px;
	--custom-back-button-gap: 5px;
}

/* Custom Back Button */
.custom-back-button {
	display: var(--display-flex);
	flex-direction: var(--flex-direction-row);
	color: var(--color-white) !important;
	font-size: var(--font-size-caption);
	font-family: var(--font-family);
	gap: var(--custom-back-button-gap);
	padding-top: var(--custom-back-button-padding-top);
}
