/* Contacts — Contacts Layout */
.contacts-layout {
	display: var(--display-flex);
	flex-direction: var(--flex-direction-column);
	gap: var(--gap-xxlarge);
	position: var(--position-relative);
	font-family: var(--font-family);
	background-color: var(--color-background);
}
