/* Contacts Layout styles */
.contacts-layout {
	height: auto;
	display: flex;
	flex-direction: column;
	gap: var(--contacts_layout_gap);
	position: relative;
	font-family: var(--font-family);
	background-color: var(--color-background);
}
