/** Common styles **/
.dove-siamo-container {
    width: 90%;
    text-align: left;
    top: 0;
    position: relative;
    background-color: var(--background_color);
}

.dove-siamo-title {
    color: var(--accent_color);
    text-align: left;
}

.dove-siamo-grid{
    display: grid;
    grid-template-rows: auto auto;
    align-items: start;
    justify-content: start;
    text-align: left;
}

.google-map-container{
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.google-maps-iframe{
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .dove-siamo-title {
        width: var(--general_h2_p_width_big);
        margin-left: var(--general_margin_left_big);
        font-size: var(--h2_font_size_big);
        padding-top: var(--general_margin_top_title_big_medium);
    }

    .dove-siamo-grid {
        gap: 2rem;
        width: 100%;
        margin-left: var(--general_margin_left_big);
    }

    .google-map-container{
        height: var(--google_maps_container_height_big);
        width: 100%;
    }

}

/* ------ Medium screen portrait -------*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .dove-siamo-title {
        margin-left: var(--general_margin_left_medium_portrait);
        font-size: var(--h2_font_size_medium);
        padding-top: var(--general_margin_top_title_big_medium);
    }

    .dove-siamo-grid {
        gap: 2rem;
        margin-left: var(--general_margin_left_medium_portrait);
    }

    .google-map-container{
        height: var(--google_maps_container_height_medium);
        width: 100%;
    }

}

/* ------ Medium screen landscape -------*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .dove-siamo-title{
        margin-left: var(--general_margin_left_medium_landscape);
        font-size: var(--h2_font_size_medium);
        padding-top: var(--general_margin_top_title_big_medium);
    }

    .dove-siamo-grid {
        gap: 2rem;
    }

    .google-map-container{
        height: var(--google_maps_container_height_medium);
        width: 100%;
        margin-left: var(--general_margin_left_medium_landscape);
    }

}

/* ------ Small screen portrait -------*/
@media (max-width: 767px) {

    .dove-siamo-title {
        width: var(--general_h2_width_small_portrait);
        margin-left: var(--general_margin_left_small_portrait);
        font-size: var(--h2_font_size_small);
        padding-top: var(--general_margin_top_small_portrait);
    }

    .dove-siamo-grid {
        gap: 1rem;
    }

    .google-map-container{
        margin-left: var(--general_margin_left_small_portrait);
        height: var(--google_maps_container_height_small);
        width: 95%;
    }

}

/* ------ Small screen landscape -------*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px){

    .dove-siamo-title {
        width: var(--general_h2_width_small_landscape);
        margin-left: var(--general_margin_left_small_landscape);
        font-size: var(--h2_font_size_small);
        padding-top: var(--general_margin_top_small_landscape);
    }

    .dove-siamo-grid {
        gap: 1rem;
    }

    .google-map-container{
        margin-left: var(--general_margin_left_small_portrait);
        width: 95%;
        height: var(--google_maps_container_height_small);
    }
}