:root{

    /* Colors */
    --background_color: #141414;
    --accent_color: #F8DE4D;
    --blue_color: #005FCC;


    /* Font size */
    --home_title_font_size_big: 70px;
    --home_title_font_size_medium: 50px;
    --home_title_font_size_small_portrait: 30px;
    --home_title_font_size_small_landscape: 35px;

    --home_subtitle_font_size_big: 35px;
    --home_subtitle_font_size_medium: 25px;
    --home_subtitle_font_size_small_portrait: 20px;
    --home_subtitle_font_size_small_landscape: 22px;

    --heading_font_size_big: 50px;
    --heading_font_size_medium: 45px;
    --heading_font_size_small: 25px;

    --subheading_font_size_big: 25px;
    --subheading_font_size_medium: 20px;
    --subheading_font_size_small: 18px;

    --body_font_size_big: 20px;
    --body_font_size_medium: 18px;
    --body_font_size_small: 16px;

    --caption_text_font_size: clamp(12px, 2vw, 14px);;


    /* Components (General) */
    --border_radius: 5px;
    --float_button_dimension: 40px;
    --float_button_margins: 10px;


    /* Custom Icon Button */
    --custom_icon_button_margins: clamp(5px, 2vw, 10px);
    --custom_icon_button_dimension: clamp(18px, 5vw, 20px);


    /* Custom Button + Custom Cookie Banner Button */
    --custom_button_padding: 19px 16px 19px 16px;
    --custom_button_cookie_banner_padding: 10px 20px 10px 20px;


    /* Custom Info Card */
    --custom_info_card_margin_top_big_medium: 40px;
    --custom_info_card_margin_top_small: 20px;
    --custom_info_card_icon_dimension: 30px;
    --custom_info_card_flex_gap: 30px;


    /* Menu */
    --menu_items_gap: 30px;


    /* General section margins */
    --section_margin_bottom: 150px;
    --section_margin_left_big: 250px;
    --section_margin_left_medium: 190px;
    --section_margin_left_small_portrait: 20px;
    --section_margin_left_small_landscape: 15px;


    /* Home section */
    --home_header_padding_bottom: 5px;
    --home_header_padding_right_left: 10px;
    --home_header_gap: 10px;


    /* Contatti */
    --contatti_contact_buttons_gap: 20px;
    --contatti_contact_buttons_container_margin_top: 80px;


    /* Dove siamo */
    --dove_siamo_google_maps_margin_top: 50px;


    /* TO DELETE */
    --auto_usate_container_margin_bottom: 100px;
    --auto_usate_statistic_division_margin_top: 80px;
    --auto_usate_percentage_font_size_big: 90px;
    --auto_usate_percentage_font_size_medium_portrait: 70px;
    --auto_usate_percentage_font_size_medium_landscape: 80px;
    --auto_usate_percentage_font_size_small: 50px;
    --auto_usate_facebook_link_margin_top: 30px;

}