/* Variables */
:root {
	--section-container-width: 60%;
	--section-container-width-small-portrait: 75%;
}

/* Section Container */
.section-container {
	width: var(--section-container-width);
}

/* ------ Responsive Layout ------ */

/* Big Screen */
@media (min-width: 1025px) {
	.section-container {
		margin-left: var(--section-container-margin-left-big);
	}
}

/* Medium Screen */
@media (min-height: 768px) and (max-width: 1024px) {
	.section-container {
		margin-left: var(
			--section-container-margin-left-medium
		);
	}
}

/* Small Screen — Portrait */
@media (max-width: 767px) and (orientation: portrait) {
	.section-container {
		width: var(--section-container-width-small-portrait);
		margin-left: var(
			--section-container-margin-left-small-portrait
		);
	}
}

/* Small Screen — Landscape */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	.section-container {
		margin-left: var(
			--section-container-margin-left-small-landscape
		);
	}
}
