/* Variables */
:root {
	--info-card-height: 100%;
	--info-card-width: 250px;
	--info-card-icon-dimension: 30px;
	--info-card-flex-grid-template-columns: auto 1fr;
	--info-card-flex-gap: 15px;
	--info-card-description-margin-top: 0;
}

/* Info Card */
.info-card {
	height: var(--info-card-height);
	width: var(--info-card-width);
	background-color: var(--color-transparent);
}

/* Info Card — Icon */
.info-card-icon {
	height: var(--info-card-icon-dimension);
	width: var(--info-card-icon-dimension);
}

/* Info Card — Flex Container */
.info-card-flex {
	display: var(--display-grid);
	grid-template-columns: var(
		--info-card-flex-grid-template-columns
	);
	align-items: var(--align-items-center);
	gap: var(--info-card-flex-gap);
}
