/* Info Card styles */
.info-card {
	height: var(--info_card_height);
	width: var(--info_card_width);
	background-color: transparent;
}

/* Info Card Icon styles */
.info-card-icon {
	height: var(--info_card_icon_dimension);
	width: var(--info_card_icon_dimension);
}

/* Info Card Flex container styles */
.info-card-flex {
	margin-top: var(--info_card_flex_margin_top);
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: var(--info_card_flex_gap);
}
