/** Animation **/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg) translateY(20px);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg) translateY(0);
    }
}

.contatti-description {
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.contatti-description.in-view {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
}

/** Common styles **/
.title-contatti-container {
    height: 100vh;
    text-align: center;
    position: relative;
    top: 0;
    background-color: var(--background_color);
    background-image: url('../../../public/icons/background.svg');
    background-repeat: no-repeat;
    background-position: initial;
}

.contact-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-top: var(--custom_buttons_margin_top);
}

.contatti-title{
    color: var(--accent_color);
    text-align: left;
    margin-bottom: 0;
}

.contatti-description{
    text-align: left;
    color: white;
}

/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .contatti-title {
        width: var(--general_h2_p_width_big);
        font-size: var(--h2_font_size_big);
        margin-top: var(--general_margin_top_title_big_medium);
    }

    .contatti-description {
        width: 50%;
        font-size: var(--p_font_size_big);
        text-align: left;
        color: white;
    }

    .title-contatti-container{
        margin-left: var(--home_title_container_margin_left_big);
    }

}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .contatti-title {
        font-size: var(--h2_font_size_medium);
        margin-top: var(--general_margin_top_title_big_medium);
    }

    .contatti-description {
        font-size: var(--p_font_size_medium);
        width: 50%;
    }

    .title-contatti-container{
        background-size: 100%;
        margin-left: var(--general_margin_left_medium_portrait);
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .contatti-title {
        font-size: var(--h2_font_size_medium);
        margin-top: var(--general_margin_top_title_big_medium);
    }

    .contatti-description {
        width: 50%;
        font-size: var(--p_font_size_medium);
    }

    .title-contatti-container{
        background-size: 65%;
        margin-left: var(--general_margin_left_medium_landscape);
    }
}

/* Small screen portrait*/
@media (max-width: 767px) {

    .contatti-title {
        width: var(--general_h2_width_small_portrait);
        font-size: var(--h2_font_size_small);
        margin-top: var(--general_margin_top_small_portrait);
    }

    .contatti-description {
        width: var(--general_p_width_small_portrait);
        font-size: var(--p_font_size_small);
    }

    .title-contatti-container {
        background-size: 80%;
        margin-left: var(--general_margin_left_small_portrait);
    }

}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px){

    .contatti-title {
        width: var(--general_h2_width_small_landscape);
        font-size: var(--h2_font_size_small);
        margin-top: var(--general_margin_top_small_landscape);
    }

    .contatti-description {
        width: var(--general_p_width_small_landscape);
        font-size: var(--p_font_size_small);
    }

    .title-contatti-container {
        margin-left: var(--general_margin_left_small_landscape);
        background-size: 45%;
    }

    .contact-buttons-container {
        align-items: flex-end;
        margin-top: 0;
        margin-right: var(--general_margin_left_small_landscape);
    }

}
