.contatti-footer {
    background-color: var(--background_color);
    color: white;
    z-index: 99;
    align-self: center;
    width: 100%;
    margin-top: auto;
}

/* ------ Big screen -------*/
@media (min-width: 1025px){
    .footer-text {
        text-align: center;
        margin-bottom: 0px;
        font-size: var(--footer_text_size_big_medium);
    }
}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .footer-text {
        margin-bottom: 0px;
        text-align: center;
        font-size: var(--footer_text_size_big_medium);
    }
}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .footer-text {
        margin-bottom: 0px;
        text-align: center;
        font-size: var(--footer_text_size_big_medium);
    }
}

/* Small screen portrait*/
@media (max-width: 767px) {
    .footer-text {
        margin-bottom: 0px;
        text-align: center;
        font-size: var(--footer_text_size_small);
    }
}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
    .footer-text {
        margin-bottom: 0px;
        text-align: center;
        font-size: var(--footer_text_size_small);
    }
}