/* ------ contatti ------ */
/* ------- General layout -------- */
.contatti-layout {
    display: flex;
    flex-direction: column;
    min-height: var(--real-vh);
    overflow-y: auto;
    background-color: var(--background_color);
    font-family: 'Poppins';
}
