/**Common styles**/
.policy-link{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.div-necessary-cookies{
    display: flex;
    align-items: center;
    margin-top: var(--div_necessary_cookies_margin_top);
}

.div-third-party-cookies{
    display: flex;
    align-items: center;
}

.cookies-switch-label{
    margin-left: var(--cookies_switch_label_margin_left);
}

.save-preferences-button{
    background-color: var(--accent_color);
    color: black;
    font-family: 'Poppins';
    font-size: var(--save_preferences_button_font_size);
    padding: var(--save_preferences_button_padding);
    border-radius: 10px;
    border: none;
    margin-top: var(--save_preferences_button_margin_top);
}

.save-preferences-button:hover{
    background-color: var(--accent_color) !important;
    color: black !important;
    font-family: 'Poppins' !important;
    font-size: var(--save_preferences_button_font_size) !important;
    padding: var(--save_preferences_button_padding) !important;
    border-radius: 10px !important;
    border: none;
    margin-top: var(--save_preferences_button_margin_top);
}
