/* Animation */
@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

/* Common styles */
.image-container {
    display: flex;
    height: auto;
    justify-content: left;
    align-items: initial;
    max-height: 100vh;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: var(--margin_bottom_image);
    margin-top: var(--margin_top_image);
}

.home-image-container img.zoomIn {
    animation: zoomIn 1s ease forwards;
    opacity: 1;
}

.image-container img {
    height: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    animation: zoomIn 1s ease forwards;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
    .image-container {
        margin-left: var(--home_title_container_margin_left_big);
        margin-right: var(--margin_right_image_big);
    }
}

/* ------ Medium screen landscape ------- */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .image-container {
        margin-left: var(--home_title_container_margin_left_medium);
        margin-right: var(--margin_right_image_medium_landscape);
    }
}

/* ------ Medium screen portrait ------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .image-container {
        margin-left: var(--home_title_container_margin_left_medium);
        margin-right: var(--margin_right_image_medium_portrait);
    }
}

/* ------ Small screen portrait ------- */
@media (max-width: 767px) and (orientation: portrait) {
    .image-container {
        margin-left: var(--home_title_container_margin_left_small_portrait);
        margin-right: var(--margin_right_image_small_portrait);
    }
}

/* ------ Small screen landscape ------- */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
    .image-container {
        margin-left: var(--home_title_container_margin_left_small_landscape);
        margin-right: var(--margin_right_image_small_landscape);
    }
}