/*Animation*/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Common styles*/
.ant-anchor-link-title {
    font-family: 'Poppins';
    color: white;
    transition: color 0.3s ease;
}

.ant-anchor-link-active > .ant-anchor-link-title {
    color: white !important;
    font-weight: bold;
}

.ant-anchor-ink {
    background-color: var(--accent_color) !important;
    width: 2px;
    color: white !important;
}

.ant-anchor .ant-anchor-link-title {
    color: white !important;
}

.menu-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.ant-menu-item-selected {
    background-color: var(--accent_color) !important;
}

.ant-menu-item:hover {
    background-color: var(--accent_color) !important;
}

.menu-container-phone {
    display: block;
    position: fixed;
    z-index: 99999;
}

.ant-menu {
    border: none !important;
    background-color: var(--accent_color) !important;
}

.hamburger-button {
    background-color: var(--accent_color) !important;
    color: black !important;
    height: var(--hamburger_dimension) !important;
    width: var(--hamburger_dimension) !important;
    padding: 0 !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    border-radius: 50% !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.ant-menu-submenu-title {
    font-family: 'Poppins';
    color: black !important;
    font-weight: bold !important;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
    transition: transform 0.3s ease, color 0.3s ease;
}

.ant-menu-item {
    font-family: 'Poppins', sans-serif;
    color: black !important;
    opacity: 0;
    font-weight: bold !important;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
    transition: transform 0.3s ease, color 0.3s ease;
}

.ant-drawer-header {
    border-bottom: none !important;
    background-color: var(--accent_color) !important;
}

.ant-drawer-content {
    background-color: var(--accent_color) !important;
}

/* Big screen */
@media (min-width: 1025px) {

    .ant-anchor-link-title {
        font-size: var(--menu_font_size_big);
        margin-top: var(--menu_margin_top_big);
    }

    .menu-container {
        padding-top: var(--menu_container_padding_top_big);
        padding-left: var(--menu_container_padding_left_big);
    }

    .menu-container-phone {
        display: none;
    }
}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .ant-anchor-link-title {
        font-size: var(--menu_font_size_medium);
        margin-top: var(--menu_margin_top_medium);
    }

    .menu-container {
        padding-top: var(--menu_container_padding_top_medium);
        padding-left: var(--menu_container_padding_left_medium);
    }

    .menu-container-phone {
        display: none;
    }
}

/* Medium screen landscape */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .ant-anchor-link-title {
        font-size: var(--menu_font_size_medium);
        margin-top: var(--menu_margin_top_medium);
    }

    .menu-container {
        padding-top: var(--menu_container_padding_top_medium);
        padding-left: var(--menu_container_padding_left_medium);
    }

    .menu-container-phone {
        display: none;
    }
}

/* Small screen portrait*/
@media (max-width: 767px){

    .menu-container {
        display: none;
    }

    .menu-container-phone {
        top: var(--menu_phone_margin_top);
        right: var(--menu_phone_margin_right);
    }

    .ant-menu {
        font-size: var(--menu_phone_font_size);
        margin-top: var(--ant_menu_margin_top_portrait);
    }

    .ant-menu-submenu-title {
        font-size: var(--menu_font_size_small_portrait) !important;
        margin-bottom: var(--ant_menu_subtitle_title_margin_bottom_portrait) !important;
    }

    .ant-menu-item {
        font-size: var(--menu_font_size_small_portrait) !important;
        margin-bottom: var(--ant_menu_item_margin_bottom_portrait) !important;
    }

}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {

    .menu-container {
        display: none;
    }

    .menu-container-phone {
        top: var(--menu_phone_margin_top);
        right: var(--menu_phone_margin_right);
    }

    .ant-menu {
        font-size: var(--menu_phone_font_size);
        margin-top: 0px;
    }

    .ant-menu-submenu-title {
        font-size: var(--menu_font_size_small_landscape) !important;
        margin-bottom: var(--ant_menu_margin_bottom_landscape) !important;
    }

    .ant-menu-item {
        font-size: var(--menu_font_size_small_landscape) !important;
        margin-bottom: var(--ant_menu_item_margin_bottom_landscape) !important;
    }

}