/* Variables */
:root {
	--home-layout-height: 100vh;
}

/* Home — Home Layout */
.home-layout {
	height: var(--home-layout-height);
	font-family: var(--font-family);
	background: var(--color-transparent);
}
