/* Used Cars Card */
.used-car-card {
	font-family: var(--font-family-default);
	width: var(--card-width);
	padding: var(--padding-small) var(--padding-small)
		var(--padding-xsmall) var(--padding-small);
	background: var(--color-background);
	border: var(--border-none);
	border-radius: var(--border-radius-default);
	box-shadow: var(--shadow-large);
	flex-shrink: var(--zero-shrink);
	scroll-snap-align: var(--scroll-snap-align-default);
	cursor: var(--cursor-pointer);
	transition: var(--animation-duration-short)
		var(--animation-timing-ease-out);
}

/* Used Cars Card — Image Container */
.used-car-card-image-container {
	width: var(--full-size);
	display: var(--display-flex);
	justify-content: var(--justify-content-center);
	align-items: var(--align-items-center);
	overflow: var(--overflow-hidden);
}

/* Used Cars Card — Image */
.used-car-card-image-container img {
	max-width: var(--full-size);
	height: var(--full-size);
	object-fit: var(--image-object-fit-cover);
	border-radius: var(--border-radius-default);
}

/* Used Cars Card — Overview (Flex) */
.used-car-card-overview-flex {
	display: var(--display-flex);
	flex-direction: var(--flex-direction-column);
	gap: var(--zero-gap);
}

/* Used Cars Card — Price Container */
.used-car-card-price-container {
	width: var(--full-size);
	display: var(--display-flex);
	justify-content: var(--justify-content-end);
}

/* ------ Responsive Layout ------ */

/* Big screen */
@media (min-width: 1025px) {
	.used-car-card:hover {
		box-shadow: var(--shadow-xlarge);
		transform: scale(var(--scale-small));
	}
}
