/* Variables */
:root {
	--used-car-card-width: 270px;
	--used-car-card-padding: 15px 15px 0 15px;
	--used-car-card-flex-shrink: 0;
	--used-car-card-scroll-snap-align: center;
	--used-car-card-image-container-width: 100%;
	--used-car-card-image-max-width: 100%;
	--used-car-card-image-height: 100%;
	--used-car-card-overview-flex-gap: 0;
	--used-car-card-price-container-width: 100%;
}

/* Used Cars Card */
.used-car-card {
	font-family: var(--font-family);
	width: var(--used-car-card-width);
	padding: var(--used-car-card-padding);
	background: var(--color-background);
	border: var(--border-none);
	border-radius: var(--border-radius-default);
	box-shadow: var(--shadow-xlarge);
	flex-shrink: var(--used-car-card-flex-shrink);
	scroll-snap-align: var(--used-car-card-scroll-snap-align);
	cursor: var(--cursor-pointer);
	transition: var(--animation-duration-short)
		var(--animation-timing-ease-out);
}

/* Used Cars Card — Image Container */
.used-car-card-image-container {
	width: var(--used-car-card-image-container-width);
	display: var(--display-flex);
	justify-content: var(--justify-content-center);
	align-items: var(--align-items-center);
	overflow: var(--overflow-hidden);
}

/* Used Cars Card — Image */
.used-car-card-image-container img {
	max-width: var(--used-car-card-image-max-width);
	height: var(--used-car-card-image-height);
	object-fit: var(--object-fit-cover);
	border-radius: var(--border-radius-default);
}

/* Used Cars Card — Overview (Flex) */
.used-car-card-overview-flex {
	display: var(--display-flex);
	flex-direction: var(--flex-direction-column);
	gap: var(--used-car-card-overview-flex-gap);
}

/* Used Cars Card — Price Container */
.used-car-card-price-container {
	width: var(--used-car-card-price-container-width);
	display: var(--display-flex);
	justify-content: var(--justify-content-end);
}

/* ------ Responsive Layout ------ */

/* Big screen */
@media (min-width: 1025px) {
	.used-car-card:hover {
		box-shadow: var(--shadow-xxlarge);
		transform: scale(var(--scale-small));
	}
}
