/* -------- Position -------- */
:root {
	/*  Position  */
	--position-fixed: fixed;
	--position-absolute: absolute;
	--position-relative: relative;
	--zero-position: 0;
	--position-center: 50%;
	--position-center-translate: -50%;

	/*  Display  */
	--display-block: block;
	--display-inline: inline;
	--display-inline-block: inline-block;
	--display-flex: flex;
	--display-grid: grid;
	--display-none: none;

	/*  Flex Direction  */
	--flex-direction-row: row;
	--flex-direction-column: column;
	--flex-direction-column-reverse: column-reverse;

	/*  Justify  */
	--justify-content-center: center;
	--justify-content-right: right;
	--justify-content-left: left;
	--justify-content-start: start;
	--justify-content-end: end;

	/* Align */
	--align-items-center: center;
	--align-items-flex-start: flex-start;
}
