/* App */
* {
	box-sizing: var(--box-sizing-default);
}

/* HTML and Body */
html,
body {
	margin: var(--zero-margin);
	font-family: var(--font-family-default);
	background-color: var(--color-background);
	overflow-x: var(--overflow-hidden);
	scroll-behavior: var(--scroll-behavior-default);
	scrollbar-width: var(--scrollbar-width-default);
	-webkit-font-smoothing: var(
		--font-smoothing-webkit-default
	);
	-moz-osx-font-smoothing: var(
		--font-smoothing-moz-osx-default
	);
}
