/* Variables */
:root {
	--html-body-margin: 0;
	--html-body-scroll-behavior: smooth;
	--html-body-webkit-font-smoothing: antialiased;
	--hmtl-body-moz-osx-font-smoothing: grayscale;
}

/* HTML and Body */
html,
body {
	margin: var(--html-body-margin);
	font-family: var(--font-family);
	background-color: var(--color-background);
	overflow-x: var(--overflow-hidden);
	scroll-behavior: var(--html-body-scroll-behavior);
	scrollbar-width: var(--scrollbar-width-default);
	-webkit-font-smoothing: var(
		--html-body-webkit-font-smoothing
	);
	-moz-osx-font-smoothing: var(
		--hmtl-body-moz-osx-font-smoothing
	);
}
* {
	box-sizing: border-box;
}
