/* Style of the entire web app */
html,
body {
	margin: 0;
	font-family: var(--font-family);
	background-color: var(--background-color);
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	box-sizing: border-box;
}
