/* ------ Responsive Layout ------ */

/* Small Screen */
@media (max-width: 767px),
	(max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	/* Menu Big Screen (Hide) */
	.menu-container-big {
		display: var(--display-none);
	}

	/* Menu Small Screen — Hamburger Button */
	.hamburger-button {
		height: var(--float-button-dimension) !important;
		width: var(--float-button-dimension) !important;
		position: var(--position-fixed);
		justify-content: var(
			--justify-content-center
		) !important;
		align-items: var(--align-items-center) !important;
		top: var(--float-button-margin);
		right: var(--float-button-margin);
		color: var(--color-white) !important;
		background-color: var(--color-transparent) !important;
		border: var(--border-none) !important;
		box-shadow: var(--shadow-small);
		backdrop-filter: blur(var(--blur-default));
		z-index: var(--z-index-low) !important;
	}

	/* Menu Small Screen */
	.menu-container-small {
		display: var(--display-block);
		position: var(--position-fixed);
		z-index: var(--z-index-high);
	}

	.ant-menu {
		font-size: var(--font-size-heading) !important;
		padding-top: var(--padding-medium);
		border: var(--border-none) !important;
		background-color: var(--color-background) !important;
	}

	/* Menu Small Screen — Header */
	.ant-drawer-header {
		border-bottom: var(--border-none) !important;
		background-color: var(--color-background) !important;
	}

	/* Menu Small Screen — Content */
	.ant-drawer-content {
		background-color: var(--color-background) !important;
	}

	/* Menu Small Screen — Item */
	.ant-menu-item-selected {
		background-color: var(--color-background) !important;
	}

	.ant-menu-item:hover {
		background-color: var(--color-background) !important;
	}

	.ant-menu-item {
		margin-bottom: var(--margin-medium) !important;
		font-family: var(--font-family);
		color: var(--color-white) !important;
		opacity: var(--opacity-high);
	}

	/* Menu Small Screen — Close Outline */
	.close-outline {
		color: var(--color-white);
		position: var(--position-absolute);
		top: var(--float-button-margin);
		right: var(--float-button-margin);
		padding: var(--float-button-margin);
	}
}
