/* Used Cars Container */
.used-cars-container {
	width: var(--section-container-max-width);
	display: var(--display-flex);
	flex-direction: var(--flex-direction-row);
	gap: var(--gap-small);
	padding: var(--padding-large);
	overflow-x: var(--overflow-auto);
	scrollbar-width: var(--scrollbar-width-default);
	scroll-snap-type: var(--scroll-snap-type-default);
}

/* Hide Scroll Bar */
::-webkit-scrollbar {
	display: var(--display-none);
}

/* Used Cars Container — Unavailable Used Cars */
.unavailable-used-cars-container {
	width: var(--section-container-max-width);
	display: var(--display-flex) !important;
	align-items: var(--align-items-center) !important;
	flex-direction: var(--flex-direction-column) !important;
	justify-content: var(--justify-content-center) !important;
	opacity: var(--opacity-low);
}

/* Used Cars Container — Unavailable Used Cars Image */
.unavailable-used-cars-container img {
	height: var(--image-size-xlarge);
	width: var(--image-size-xlarge);
}
