:root{
    --divServizio_and_dove_siamo_margin_top_big_and_medium: 40px;
    --divServizio_and_dove_siamo_margin_top_small: 20px;

    --divServizio_and_dove_siamo_icon_dimension_big_and_medium: 40px;
    --divServizio_and_dove_siamo_icon_dimension_small: 30px;

    /** icons **/
    --divServizio_and_dove_siamo_margin_right_icon: 20px;
    --divServizio_and_dove_siamo_margin_top_icon_big_medium_landscape: 33px;
    --divServizio_and_dove_siamo_margin_top_icon_medium_portrait: 28px;
    --divServizio_and_dove_siamo_margin_top_icon_small: 27px;

    /** only for dove siamo divisions **/
    --dove_siamo_icon_margin_bottom: 20px;

    /** only for altri servizi section **/
    --divServizio_description_margin_top: 10px;

}