:root{
    --custom_button_border_radius: 20px;
    --custom_button_padding: 20px;
    --custom_buttons_margin_top: 200px;

    --custom_button_margin_top_big_and_medium: 80px;

    --custom_button_margin_top_small_portrait: 50px;
    --custom_button_margin_top_small_landscape: 30px;
    
    --custom_button_margin_bottom: 30px;
}