/* Custom Text  Animation */
@keyframes customTextFadeIn {
	from {
		opacity: var(--opacity-zero);
	}
	to {
		opacity: var(--opacity-high);
	}
}

/* Custom Text  Super-heading */
.custom-super-heading {
	margin-bottom: var(--margin-medium);
	font-size: var(--font-size-super-heading);
	text-align: var(--font-alignment-left);
	font-weight: var(--font-weight-bold);
	line-height: var(--font-super-heading-line-height);
	color: var(--color-white);
}

/* Custom Text  Heading */
.custom-heading {
	margin-bottom: var(--zero-margin);
	color: var(--color-white);
	text-align: var(--font-alignment-left);
	font-size: var(--font-size-heading);
	font-weight: var(--font-weight-bold);
	opacity: var(--opacity-zero);
	transition:
		opacity var(--animation-duration-long)
			var(--animation-timing-ease),
		transform var(--animation-duration-long)
			var(--animation-timing-ease);
}

/* Custom Text  Heading (In View) */
.custom-heading.in-view {
	margin-bottom: var(--zero-margin);
	color: var(--color-white);
	text-align: var(--font-alignment-left);
	font-size: var(--font-size-heading);
	font-weight: var(--font-weight-bold);
	animation: customTextFadeIn var(--animation-duration-long)
		var(--animation-timing-ease)
		var(--animation-fill-mode-forwards);
}

/* Custom Text  Subheading */
.custom-subheading {
	font-size: var(--font-size-subheading);
	font-weight: var(--font-weight-bold);
}

/* Custom Text  Body */
.custom-body {
	font-size: var(--font-size-body);
}

/* Custom Text  Subheading and Body */
.custom-subheading,
.custom-body {
	opacity: var(--opacity-zero);
	color: var(--color-white);
	text-align: var(--font-alignment-left);
	transition:
		opacity var(--animation-duration-long)
			var(--animation-timing-ease),
		transform var(--animation-duration-long)
			var(--animation-timing-ease);
}

/* Custom Text  Subheading (In View) */
.custom-subheading.in-view {
	font-size: var(--font-size-subheading);
	font-weight: var(--font-weight-bold);
	color: var(--color-white);
	text-align: var(--font-alignment-left);
	opacity: var(--opacity-high) !important;
}

/* Custom Text  Body (In View) */
.custom-body.in-view {
	font-size: var(--font-size-body);
	color: var(--color-white);
	text-align: var(--font-alignment-left);
	opacity: var(--opacity-low) !important;
}

/* Custom Text  Caption */
.custom-caption {
	color: var(--color-white);
	font-size: var(--font-size-caption);
	text-align: var(--font-alignment-left);
	opacity: var(--opacity-low) !important;
}
