/* Text Animation */
@keyframes fadeInOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Super-heading styles */
.custom-super-heading {
	margin-bottom: var(
		--custom_text_super_heading_margin_bottom
	);
	font-size: var(--font-size-super-heading);
	font-weight: bold;
	color: var(--white-color);
	text-align: left;
}

/* Heading styles */
.custom-heading {
	margin-bottom: var(--custom_text_heading_margin_bottom);
	color: var(--white-color);
	text-align: left;
	font-weight: bold;
	opacity: 0;
	transition:
		opacity 2.5s ease,
		transform 2.5s ease;
}

.custom-heading.in-view {
	animation: fadeInOpacity 2.5s ease forwards;
}

/* Subheading and body styles */
.custom-subheading {
	font-weight: bold;
}

.custom-subheading,
.custom-body {
	opacity: 0;
	color: var(--white-color);
	text-align: left;
	transition:
		opacity 2.5s ease,
		transform 2.5s ease;
}

.custom-subheading.in-view {
	opacity: 1 !important;
}

.custom-body.in-view {
	opacity: var(--low_opacity) !important;
}

/* Caption styles */
.custom-caption {
	color: var(--white-color);
	font-size: var(--font-size-caption);
	opacity: var(--low_opacity) !important;
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
	.custom-heading {
		font-size: var(--font-size-heading-big);
	}

	.custom-subheading {
		font-size: var(--font-size-subheading-big);
	}

	.custom-body {
		font-size: var(--font-size-body-big);
	}
}

/* ------ Medium screen portrait ------ */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.custom-heading {
		font-size: var(--font-size-heading-medium);
	}

	.custom-subheading {
		font-size: var(--font-size-subheading-medium);
	}

	.custom-body {
		font-size: var(--font-size-body-medium);
	}
}

/* ------ Medium screen landscape ------ */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.custom-heading {
		font-size: var(--font-size-heading-medium);
	}

	.custom-subheading {
		font-size: var(--font-size-subheading-medium);
	}

	.custom-body {
		font-size: var(--font-size-body-medium);
	}
}

/* ------ Small screen portrait ------ */
@media (max-width: 767px) {
	.custom-heading {
		font-size: var(--font-size-heading-small);
	}

	.custom-subheading {
		font-size: var(--font-size-subheading-small);
	}

	.custom-body {
		font-size: var(--font-size-body-small);
	}
}

/* ------ Small screen landscape ------ */
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
	.custom-heading {
		font-size: var(--font-size-heading-small);
	}

	.custom-subheading {
		font-size: var(--font-size-subheading-small);
	}

	.custom-body {
		font-size: var(--font-size-body-small);
	}
}
