/* Used Car Overview */
.used-car-overview-container {
	margin-top: var(--margin-small);
	display: var(--display-flex);
	flex-direction: var(--flex-direction-row);
	align-items: var(--align-items-center);
}
