/*body of the entire web page*/
html, body {
  background-color: var(--background_color);
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

/*Global variables*/
:root {

  /**colors**/
  --background_color: #141414;
  --accent_color: #F8EC20;

  /**font-size**/
  /*----menu----*/
  --menu_font_size_big: 20px;
  --menu_font_size_medium: 18px;
  --menu_font_size_small_landscape: 30px;
  --menu_children_font_size_small_landscape: 25px;
  --menu_font_size_small_portrait: 35px;
  --menu_children_font_size_small_portrait: 30px;
  /*---- home ----*/
  --home_title_font_size_big: 70px;
  --home_subtitle_font_size_big: 35px;
  --home_title_font_size_medium: 50px;
  --home_subtitle_font_size_medium: 25px;
  --home_title_font_size_small_portrait: 30px;
  --home_subtitle_font_size_small_portrait: 20px;
  --home_title_font_size_small_landscape: 35px;
  --home_subtitle_font_size_small_landscape: 22px;
  /*---- general sections----*/
  --title_margin_top_big_medium: 115px;
  --h2_size_big: 50px;
  --p_size_big: 25px;
  --h2_size_medium: 45px;
  --p_size_medium: 20px;
  --h2_size_small: 25px;
  --p_size_small: 16px;
  --secondary_text_size_big: 20px;
  --secondary_text_size_medium: 18px;
  --secondary_text_size_small: 14px;
  /*----- for divServizio -------*/
  --servizio_title_size_big: 30px;
  --servizio_description_size_big: 20px;
  --servizio_title_size_medium_portrait: 25px;
  --servizio_description_size_medium_portrait: 18px;
  --servizio_title_size_medium_landscape: 28px;
  --servizio_description_size_medium_landscape: 20px;
  --servizio_title_size_small: 20px;
  --servizio_description_size_small: 14px;

  /**whatsapp support button**/
  --whatsapp_button_background-color: #25d366;
  --whatsapp_button_dimension_big: 60px;
  --whatsapp_button_dimension_medium_landscape: 50px;
  --whatsapp_button_dimension_medium_portrait_and_small: 40px;
  --whatsapp_button_dimension_big_hover: 63px;
  --whatsapp_button_margin: 20px;
  --whatsapp_button_border_radius: 50%;
  --whatsapp_button_icon_dimension_big_and_medium_landscape: 20px;
  --whatsapp_button_icon_dimension_medium_portrait_and_small: 18px;
  --whatsapp_button_icon_dimension_small_landscape: 22px;

  /**menu**/
  /* ----- big -----*/
  --menu_margin_top_big: 25px;
  --menu_container_padding_top_big: 100px;
  --menu_container_padding_left_big: 20px;
  /* ----- medium  -----*/
  --menu_margin_top_medium: 25px;
  --menu_container_padding_top_medium: 100px;
  --menu_container_padding_left_medium: 20px;
  /* ----- general small -----*/
  --menu_phone_margin_top: 40px;
  --menu_phone_margin_right: 15px;
  --menu_phone_font_size: 25px;
  --hamburger_dimension: 40px;
  --ant_menu_submenu_item_padding_left: 50px;
  /* ----- small portrait  -----*/
  --ant_menu_margin_top_portrait: 10px;
  --ant_menu_subtitle_title_margin_bottom_portrait: 70px;
  --ant_menu_item_margin_bottom_portrait: 70px;
  --ant_menu_submenu_item_margin_bottom_portrait: 20px;
  /* ----- small landscape  -----*/
  --ant_menu_margin_bottom_landscape: 20px;
  --ant_menu_item_margin_bottom_landscape: 20px;
  --ant_menu_submenu_item_margin_top_and_bottom_landscape: 5px;

  /**home header**/
  --home_header_padding_big_and_medium: 5px;
  --three_contact_buttons_margin_big_and_medium: 0 10px;
  --three_contact_buttons_dimension_big_and_medium: 25px;
  --home_header_padding_right_small_portrait: 11px;
  --home_header_padding_top_small_portrait: 10px;
  --home_header_padding_right_small_landscape: 11px;
  --home_header_padding_top_small_landscape: 15px;
  --three_contact_buttons_margin_small: 0 6px;
  --three_contact_buttons_dimension_small: 20px;

  /**home content**/
  /* ----- big -----*/
  --title_container_margin_left_big: 280px;
  --home_title_font_margin_top_big: 35px;
  --home_subtitle_margin_top_and_left_big: 5px;
  /* ----- medium -----*/
  --title_container_margin_left_medium: 220px;
  --title_container_margin_top_medium: 10px;
  --home_subtitle_margin_top_medium: 5px;
  /* ----- small portrait -----*/
  --title_container_margin_left_small_portrait: 20px;
  --title_container_margin_top_small_portrait: 10px;
  --home-title_margin_left_small_portrait: 10px;
  --home_subtitle_margin_top_small_portrait: 5px;
  --home_subtitle_margin_left_small_portrait: 10px;
  /* ----- small landscape -----*/
  --title_container_margin_left_small_landscape: 15px;
  --title_container_margin_top_small_landscape: 10px;
  --home-title_margin_left_small_landscape: 10px;
  --home_subtitle_margin_top_small_landscape: 5px;
  --home_subtitle_margin_left_small_landscape: 10px;

  /**chi siamo + nostri valori + intro servizi**/
  /* ----- general variables for arrow + label of intro servizi section --------*/
  --arrow_button_dimension: 30px;
  --arrow_label_margin_bottom: 10px;
  /* ----- big -----*/
  --cns_h2_p_width_big: 50%;
  --cns_h2_p_margin_left_big: 280px;
  /* ----- medium portrait -----*/
  --cns_width_medium_portrait: 90%;
  --cns_h2_p_margin_left_medium_portrait: 220px;
  /* ----- medium landscape -----*/
  --cns_h2_width_medium_landscape: 90%;
  --cns_h2_p_margin_left_medium_landscape: 220px;
  /* ----- small portrait -----*/
  --cns_width_small_portrait: 100%;
  --cns_h2_width_small_portrait: 70%;
  --cns_h2_p_margin_left_small_portrait: 30px;
  --cns_h2_margin_top_small_portrait: 40px;
  --cns_p_width_small_portrait: 85%;
  --cns_p_margin_left_small_portrait: 30px;
  /* ----- small landscape -----*/
  --cns_width_small_landscape: 100%;
  --cns_h2_width_small_landscape: 60%;
  --cns_h2_p_margin_left_small_landscape: 30px;
  --cns_h2_margin_top_small_landscape: 40px;
  --cns_p_width_small_landscape: 55%;
  --arrow_container_margin_button_small_landscape: 10px;

  /**altri servizi**/
  --divServizio_margin_top: 40px;
  --divServizio_description_margin_top: 10px;
  --divServizio_icon_dimension_big_and_medium: 40px;
  --margin_bottom_entire_section: 200px;
  --margin_right_icon: 20px;
  /*------- big and medium landscape--------*/
  --margin_top_icon_big_medium_landscape: 33px;
  /*------- medium portrait --------*/
  --margin_top_icon_big_medium_portrait: 28px;
  /* ------ small -------*/
  --divServizio_icon_dimension_small: 30px;
  --margin_top_icon_small: 43px;

  /**contatti**/
  --footer_text_size_big_medium: 13px;
  --footer_text_size_small: 8px;
}
