/*body of the entire web page*/
html, body {
  background-color: var(--background_color);
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

/*Global variables*/
:root {

  /*menu*/
  /* ----- big -----*/
  --menu_margin_top_big: 25px;
  --menu_container_padding_top_big: 100px;
  --menu_container_padding_left_big: 20px;
  /* ----- medium  -----*/
  --menu_margin_top_medium: 25px;
  --menu_container_padding_top_medium: 100px;
  --menu_container_padding_left_medium: 20px;
  /* ----- general small -----*/
  --menu_phone_margin_top: 40px;
  --menu_phone_margin_right: 15px;
  --menu_phone_font_size: 25px;
  --hamburger_dimension: 40px;
  --ant_menu_submenu_item_padding_left: 50px;
  /* ----- small portrait  -----*/
  --ant_menu_margin_top_portrait: 10px;
  --ant_menu_subtitle_title_margin_bottom_portrait: 50px;
  --ant_menu_item_margin_bottom_portrait: 50px;
  --ant_menu_submenu_item_margin_bottom_portrait: 20px;
  /* ----- small landscape  -----*/
  --ant_menu_margin_bottom_landscape: 40px;
  --ant_menu_item_margin_bottom_landscape: 40px;
  --ant_menu_submenu_item_margin_top_and_bottom_landscape: 5px;

}
