/* ------ Chi siamo section ------ */
.chi-siamo-container {
    height: 100vh;
    width: 100%;
    padding: 60px;
    text-align: center;
    position: relative;
    top: 0;
    transition: top 0.5s ease;
    overflow: hidden;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.chi-siamo-description {
    background-color: #00223F;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 40%;
    position: absolute;
    top: 35%;
    right: 0;
    transform: translateY(-20px);
    margin: 0;
    opacity: 0;
    animation: fadeSlideIn 1.5s ease forwards;
    animation-delay: 2.8s;
}

.chi-siamo-description h2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 40px;
    color: white;
}

.chi-siamo-description p {
    font-size: 25px;
    text-align: left;
    color: white;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

/* Medium screen */
@media (max-width: 1024px) {
    .chi-siamo-description {
        width: 50%;
    }

    .chi-siamo-description h2 {
        font-size: 32px;
        padding-left: 20px;
    }

    .chi-siamo-description p {
        font-size: 20px;
        padding-left: 20px;
    }
}

/* Small screen */
@media (max-width: 768px) {
    .chi-siamo-container {
        padding: 20px;
    }

    .chi-siamo-description {
        width: 90%;
        position: static;
        margin: 0 auto;
        transform: none;
    }

    .chi-siamo-description h2 {
        font-size: 24px;
        text-align: center;
    }

    .chi-siamo-description p {
        font-size: 16px;
        text-align: center;
    }
}