/* ------ Home ------ */
/* ------- General layout -------- */
.home-layout {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    font-family: 'Poppins';
}

/* ------ Layout content ------ */
/* ------ Title + description ------- */
/* ------ Big screen ------- */
@media (min-width: 1025px){
    .title-container {
        overflow: hidden;
        margin-left: 280px;
        background-image: url('../images/background.svg');
        background-repeat: no-repeat;
        background-position: initial;
        height: 100vh;
        width: 100%;
        opacity: 0;
        animation: fadeIn 1.5s ease forwards;
        animation-delay: 0.5s;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .home-title {
        font-size: 70px;
        font-family: 'Poppins';
        margin-top: 35px;
        color: var(--accent-color);
        margin-bottom: 0px;
    }

    .home-description {
        font-size: 35px;
        color: white;
        margin-top: 5px;
    }

}


/* ------ Medium screen ------- */
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .title-container {
        overflow: hidden;
        margin-left: 220px;
        background-image: url('../images/background.svg');
        background-repeat: no-repeat;
        background-position: initial;
        height: 100vh;
        width: 100%;
        margin-top: 10px;
        background-size: 65%;
        opacity: 0;
        animation: fadeIn 1.5s ease forwards;
        animation-delay: 0.5s;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .home-title {
        font-size: 50px;
        font-family: 'Poppins';
        color: var(--accent-color);
        margin-bottom: 0px;
    }

    .home-description {
        font-size: 25px;
        color: white;
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .title-container {
        overflow: hidden;
        margin-left: 220px;
        margin-top: 10px;
        background-image: url('../images/background.svg');
        background-repeat: no-repeat;
        background-position: initial;
        height: 100vh;
        width: 100%;
        background-size: 65%;
        opacity: 0;
        animation: fadeIn 1.5s ease forwards;
        animation-delay: 0.5s;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .home-title {
        font-size: 50px;
        font-family: 'Poppins';
        color: var(--accent-color);
        margin-bottom: 0px;
    }

    .home-description {
        font-size: 25px;
        color: white;
        margin-top: 5px;
    }
}


/* ------ Small screen ------- */
@media (max-width: 767px) and (orientation: portrait)  {
    .title-container {
        overflow: hidden;
        margin-left: 20px;
        background-image: url('../images/background.svg');
        background-repeat: no-repeat;
        background-position: initial;
        height: 100vh;
        width: 100%;
        margin-top: 10px;
        background-size: 80%;
        opacity: 0;
        animation: fadeIn 1.5s ease forwards;
        animation-delay: 0.5s;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .home-title {
        font-size: 30px;
        font-family: 'Poppins';
        color: var(--accent-color);
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .home-description {
        font-size: 20px;
        color: white;
        margin-top: 5px;
        margin-left: 10px;
    }
}

@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px){
    .title-container {
        overflow: hidden;
        margin-left: 15px;
        background-image: url('../images/background.svg');
        background-repeat: no-repeat;
        background-position: initial;
        height: 100vh;
        width: 100%;
        margin-top: 10px;
        background-size: 45%;
        opacity: 0;
        animation: fadeIn 1.5s ease forwards;
        animation-delay: 0.5s;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .home-title {
        font-size: 35px;
        font-family: 'Poppins';
        color: var(--accent-color);
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .home-description {
        font-size: 22px;
        color: white;
        margin-top: 5px;
        margin-left: 10px;
    }
}
/* ------ End Title + description ------- */



/* -------- Layout Header -------- */
/* -------- Big screen -------- */
@media (min-width: 1025px) {
    .home-header {
        display: flex;
        justify-content: right;
        background-color: var(--background-color);
        padding-top: 5px;
        padding-right: 5px;
    }

    .contact-button {
        background: none;
        border: none;
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
        padding: 0px;
    }

    .contact-button img {
        width: 25px;
        height: 25px;
    }

    .contact-button:hover {
        transform: scale(1.1);
    }
}

/* -------- Medium screen -------- */
@media (min-width: 768px) and (max-width: 1024px) {
    .home-header {
        display: flex;
        justify-content: right;
        background-color: var(--background-color);
        padding-top: 5px;
        padding-right: 5px;
    }

    .contact-button {
        background: none;
        border: none;
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
        padding: 0px;
    }

    .contact-button img {
        width: 25px;
        height: 25px;
    }

    .contact-button:hover {
        transform: scale(1.1);
    }
}

/* -------- Small screen -------- */
@media (max-width: 767px) {
    .home-header {
        display: flex;
        justify-content: right;
        background-color: var(--background-color);
        padding-right: 11px;
        padding-top: 10px;
        align-items: flex-start;
    }

    .contact-button {
        background: none;
        border: none;
        margin: 0 6px;
        cursor: pointer;
        transition: transform 0.3s ease;
        padding: 0px;
    }

    .contact-button img {
        width: 20px;
        height: 20px;
    }

    .contact-button:hover {
        transform: scale(1.1);
    }
}

@media (max-height: 767px) and (orientation: landscape){
    .home-header {
        display: flex;
        justify-content: right;
        background-color: var(--background-color);
        padding-right: 11px;
        padding-top: 15px;
        align-items: flex-start;
    }

    .contact-button {
        background: none;
        border: none;
        margin: 0 6px;
        cursor: pointer;
        transition: transform 0.3s ease;
        padding: 0px;
    }

    .contact-button img {
        width: 20px;
        height: 20px;
    }

    .contact-button:hover {
        transform: scale(1.1);
    }
}

