/* ------ Menù ------*/
/* Big screen */
@media (min-width: 1025px) {

    .ant-anchor-link-title {
        font-size: 20px;
        font-family: 'Poppins';
        margin-top: 25px;
        color: white;
        transition: color 0.3s ease;
    }

    .ant-anchor-link-active > .ant-anchor-link-title {
        color: white !important;
        font-weight: bold;
    }
    .ant-anchor-ink {
        background-color: var(--accent-color) !important;
        width: 2px;
        color: white !important;
    }

    .ant-anchor .ant-anchor-link-title {
        color: white !important;
    }

    .menu-container {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        padding-top: 100px;
        padding-left: 20px;
    }
    .menu-container-phone {
        display: none;
    }
}

/* Medium screen */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .ant-anchor-link-title {
        font-size: 18px;
        font-family: 'Poppins';
        margin-top: 25px;
        color: white !important;
        transition: color 0.3s ease;
    }
    .ant-anchor-link-active > .ant-anchor-link-title {
        color: white !important;
        font-weight: bold;
    }
    .ant-anchor-ink {
        background-color: var(--accent-color) !important;
        width: 2px;
    }
    .menu-container {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        z-index: 99999;
        padding-top: 100px;
        padding-left: 20px;
    }
    .menu-container-phone {
        display: none;
    }
}
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .ant-anchor-link-title {
        font-size: 18px;
        font-family: 'Poppins';
        margin-top: 25px;
        color: white;
        transition: color 0.3s ease;
    }
    .ant-anchor-link-active > .ant-anchor-link-title {
        color: white !important;
        font-weight: bold;
    }
    .ant-anchor-ink {
        background-color: var(--background-color) !important;
        width: 2px;
    }
    .menu-container {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        z-index: 99999;
        padding-top: 100px;
        padding-left: 20px;
    }
    .menu-container-phone {
        display: none;
    }
}

/* Small screen */
@media (max-width: 767px){
    .menu-container {
        display: none;
    }

    .menu-container-phone {
        display: block;
        position: fixed;
        top: 40px;
        right: 15px;
        z-index: 99999;
    }

    .ant-menu {
        background-color: white;
        font-size: 25px;
        margin-top: 10px;
        border: none !important;
        background-color: rgba(247, 234, 25, 1) !important;
    }

    .hamburger-button {
        background-color: rgba(247, 234, 25, 1) !important;
        color: black !important;
        height: 40px !important;
        width: 40px !important;
        padding: 0 !important;
        justify-content: center !important;
        align-items: center !important;
        border: none !important;
        border-radius: 50% !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    }

    .ant-menu-submenu-title {
        font-family: 'Poppins';
        color: black !important;
        font-size: 40px !important;
        margin-bottom: 70px !important;
        font-weight: bold !important;
    }

    .ant-drawer-header {
        border-bottom: none !important;
        background-color: rgba(247, 234, 25, 1) !important;
    }

    .ant-drawer-content {
        background-color: rgba(247, 234, 25, 1) !important;
    }

    .ant-menu-item {
        font-family: 'Poppins', sans-serif;
        color: black !important;
        font-size: 40px !important;
        margin-bottom: 70px !important;
        opacity: 0;
        font-weight: bold !important;
        transform: translateY(-20px);
        animation: fadeInUp 0.5s forwards;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    //*THIS ORDER IS IMPORTANT TO PHONE MENU ITEMS ANIMATION*//
    .ant-menu-item:nth-child(1) {
        animation-delay: 0.2s;

    }
    .ant-menu-item:nth-child(2) {
        animation-delay: 0.3s;
    }
    .ant-menu-submenu-title:nth-child(1) {
        animation-delay: 0.4s;
    }
    .ant-menu-item:nth-child(3) {
        animation-delay: 0.5s;
    }
    .ant-menu-item:nth-child(4) {
        animation-delay: 0.6s;
    }
    .ant-menu-item:nth-child(5) {
        animation-delay: 0.7s;
    }

    .ant-menu-submenu-title {
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeInUp 0.5s forwards;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .ant-menu-submenu .ant-menu-item {
        font-size: 30px !important;
        margin-top: 0px !important;
        margin-bottom: 20px !important;
        display: flex !important;
        align-items: start !important;
        justify-content: start !important;
        text-align: left !important;
        padding-left: 50px !important;
        margin-left: 0 !important;
    }

}

@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {
    .menu-container {
        display: none;
    }

    .menu-container-phone {
        display: block;
        position: fixed;
        top: 40px;
        right: 15px;
        z-index: 99999;
    }

    .ant-menu {
        background-color: white;
        font-size: 25px;
        margin-top: 0px;
        border: none !important;
        background-color: rgba(247, 234, 25, 1) !important;
    }

    .hamburger-button {
        background-color: rgba(247, 234, 25, 1) !important;
        color: black !important;
        height: 40px !important;
        width: 40px !important;
        padding: 0 !important;
        justify-content: center !important;
        align-items: center !important;
        border: none !important;
        border-radius: 50% !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    }

    .ant-menu-submenu-title {
        font-family: 'Poppins';
        color: black !important;
        font-size: 30px !important;
        margin-bottom: 20px !important;
        font-weight: bold !important;
    }

    .ant-menu-item {
        font-family: 'Poppins', sans-serif;
        color: black !important;
        font-size: 30px !important;
        margin-bottom: 20px !important;
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeInUp 0.5s forwards;
        transition: transform 0.3s ease, color 0.3s ease;
        font-weight: bold !important;
    }

    .ant-drawer-header {
        border-bottom: none !important;
        background-color: rgba(247, 234, 25, 1) !important;
    }

    .ant-drawer-content {
        background-color: rgba(247, 234, 25, 1) !important;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /*THIS ORDER IS IMPORTANT TO PHONE MENU ITEMS ANIMATION*/
    .ant-menu-item:nth-child(1) {
        animation-delay: 0.2s;
    }
    .ant-menu-item:nth-child(2) {
        animation-delay: 0.3s;
    }
    .ant-menu-submenu-title:nth-child(1) {
        animation-delay: 0.4s;
    }
    .ant-menu-item:nth-child(3) {
        animation-delay: 0.5s;
    }
    .ant-menu-item:nth-child(4) {
        animation-delay: 0.6s;
    }
    .ant-menu-item:nth-child(5) {
        animation-delay: 0.7s;
    }

    .ant-menu-submenu-title {
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeInUp 0.5s forwards;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .ant-menu-submenu .ant-menu-item {
        font-size: 25px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        display: flex !important;
        align-items: start !important;
        justify-content: start !important;
        text-align: left !important;
        padding-left: 50px !important;
        margin-left: 0 !important;
    }

}
/*------ End Menù --------*/