.nostri-valori-container {
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    transition: top 0.5s ease;
    overflow: hidden;
    background-color: var(--background-color);
}

/* ------ Nostri valori section ------ */
/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .nostri-valori-description {
        position: absolute;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        width: 50%;
        margin-left: 280px;
        color: var(--accent-color);
        text-align: left;
        font-size: 50px;
        margin-bottom: 0px;
    }

    .nostri-valori-description p {
        width: 50%;
        font-size: 25px;
        text-align: left;
        color: white;
        margin-left: 280px;
    }
}

/* Medium screen */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .nostri-valori-description {
        width: 90%;
        position: absolute;
        margin-top: 70px;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        margin-left: 220px;
        color: var(--accent-color);
        text-align: left;
        font-size: 50px;
        margin-bottom: 0px;
    }

    .nostri-valori-description p {
        font-size: 25px;
        text-align: left;
        color: white;
        margin-left: 220px;
    }

}

@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .nostri-valori-description {
        width: 90%;
        position: absolute;
        margin-top: 70px;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        margin-left: 220px;
        color: var(--accent-color);
        text-align: left;
        font-size: 50px;
        margin-bottom: 0px;
    }

    .nostri-valori-description p {
        font-size: 20px;
        text-align: left;
        color: white;
        margin-left: 220px;
    }
}

/* Small screen */
@media (max-width: 767px) {

    .nostri-valori-description {
        width: 100%;
        position: absolute;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        width: 70%;
        margin-left: 30px;
        color: var(--accent-color);
        text-align: left;
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 40px;
    }

    .nostri-valori-description p {
        width: 85%;
        font-size: 20px;
        text-align: left;
        color: white;
        margin-left: 30px;
    }
}

@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px){

    .nostri-valori-description {
        width: 100%;
        position: absolute;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        width: 60%;
        margin-left: 30px;
        color: var(--accent-color);
        text-align: left;
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 40px;
    }

    .nostri-valori-description p {
        width: 55%;
        font-size: 20px;
        text-align: left;
        color: white;
        margin-left: 30px;
    }

}
