/* ------- General layout -------- */
.contatti-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    background-color: var(--background_color);
    font-family: 'Poppins';
}
