/* Section Header styles */
.section-header {
	width: 110%;
	margin-bottom: var(--section_header_margin_bottom);
	display: flex;
	flex-direction: column;
	justify-content: initial;
	align-items: initial;
	padding: var(--section_header_padding);
	border: var(--section_header_border) solid;
	border-image: var(--yellow_gradient_color) 1;
	-webkit-mask-image: -webkit-linear-gradient(white, white);
	border-radius: var(--border_radius);
	background: transparent;
	box-shadow: var(--section_header_box_shadow);
	opacity: 0;
	transition:
		opacity 1.8s ease,
		transform 1.8s ease;
}

.section-header.in-view {
	opacity: 1;
}
