/* Section Header styles */
.section-block {
	width: 110%;
	margin-bottom: var(--section_header_margin_bottom);
	display: flex;
	flex-direction: column;
	justify-content: initial;
	align-items: initial;
	padding: var(--section_header_padding);
	border-radius: 10px;
	background: var(--background_color);
	box-shadow: var(--section_header_box_shadow);
	opacity: 0;
	transition:
		opacity 2s ease,
		transform 2s ease;
}

.section-block.in-view {
	opacity: 1;
}

/* ------ Big screen ------- */
@media (min-width: 1025px) {
	.section-block {
		width: 90%;
	}
}
