/** Animation **/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg) translateY(20px);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg) translateY(0);
    }
}

.chi-siamo-title,
.chi-siamo-subtitle {
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.chi-siamo-title.in-view,
.chi-siamo-subtitle.in-view {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
}

/** Common styles **/
.chi-siamo-container {
    height: 100vh;
    width: 90%;
    text-align: center;
    position: relative;
    top: 0;
    overflow: hidden;
    background-color: var(--background_color);
}

.chi-siamo-title{
    text-align: left;
    margin-bottom: 0px;
    color: var(--accent_color);
}

.chi-siamo-subtitle{
    text-align: left;
    color: white;
}

/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .chi-siamo-title {
        width: var(--general_h2_p_width_big);
        margin-left: var(--general_margin_left_big);
        font-size: var(--h2_font_size_big);
        margin-top: var(--general_margin_top_title_big_medium);
    }

    .chi-siamo-subtitle {
        width: var(--general_h2_p_width_big);
        font-size: var(--p_font_size_big);
        margin-left: var(--general_margin_left_big);
    }
}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .chi-siamo-title {
        margin-left: var(--general_margin_left_medium_portrait);
        font-size: var(--h2_font_size_medium);
        margin-top: var(--general_margin_top_title_big_medium);
    }

    .chi-siamo-subtitle {
        font-size: var(--p_font_size_medium);
        margin-left: var(--general_margin_left_medium_portrait);
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .chi-siamo-title{
        margin-left: var(--general_margin_left_medium_landscape);
        font-size: var(--h2_font_size_medium);
        margin-top: var(--general_margin_top_title_big_medium);
    }

    .chi-siamo-subtitle{
        font-size: var(--p_font_size_medium);
        margin-left: var(--general_margin_left_medium_landscape);
    }
}

/* Small screen portrait*/
@media (max-width: 767px) {

    .chi-siamo-title {
        width: var(--general_h2_width_small_portrait);
        margin-left: var(--general_margin_left_small_portrait);
        font-size: var(--h2_font_size_small);
        margin-top: var(--general_margin_top_small_portrait);
    }

    .chi-siamo-subtitle {
        width: var(--general_p_width_small_portrait);
        font-size: var(--p_font_size_small);
        margin-left: var(--general_margin_left_small_portrait);
    }
}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px){

    .chi-siamo-title {
        width: var(--general_h2_width_small_landscape);
        margin-left: var(--general_margin_left_small_landscape);
        font-size: var(--h2_font_size_small);
        margin-top: var(--general_margin_top_small_landscape);
    }

    .chi-siamo-subtitle {
        width: var(--general_p_width_small_landscape);
        font-size: var(--p_font_size_small);
        margin-left: var(--general_margin_left_small_landscape);
    }

}
