.nostri-valori-container {
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    transition: top 0.5s ease;
    overflow: hidden;
    background-color: var(--background_color);
}

/* ------ Nostri valori section ------ */
/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .nostri-valori-description {
        position: absolute;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        width: var(--cns_h2_p_width_big);
        margin-left: var(--cns_h2_p_margin_left_big);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--cns_h2_font_size_big);
        margin-bottom: 0px;
    }

    .nostri-valori-description p {
        width: var(--cns_h2_p_width_big);
        font-size: var(--cns_p_font_size_big);
        text-align: left;
        color: white;
        margin-left: var(--cns_h2_p_margin_left_big);
    }
}

/* Medium screen portrait*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .nostri-valori-description {
        width: var(--cns_width_medium_portrait);
        position: absolute;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        margin-left: var(--cns_h2_p_margin_left_medium_portrait);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--cns_h2_font_size_medium_portrait);
        margin-bottom: 0px;
    }

    .nostri-valori-description p {
        font-size: var(--cns_p_font_size_medium_portrait);
        text-align: left;
        color: white;
        margin-left: var(--cns_h2_p_margin_left_medium_portrait);
    }

}

/* Medium screen portrait*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .nostri-valori-description {
        width: var(--cns_h2_width_medium_landscape);
        position: absolute;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        margin-left: var(--cns_h2_p_margin_left_medium_landscape);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--cns_h2_font_size_medium_landscape);
        margin-bottom: 0px;
    }

    .nostri-valori-description p {
        font-size: var(--cns_p_font_size_medium_landscape);
        text-align: left;
        color: white;
        margin-left: var(--cns_h2_p_margin_left_medium_landscape);
    }
}

/* Small screen portrait*/
@media (max-width: 767px) {

    .nostri-valori-description {
        width: var(--cns_width_small_portrait);
        position: absolute;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        width: var(--cns_h2_width_small_portrait);
        margin-left: var(--cns_h2_p_margin_left_small_portrait);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--cns_h2_font_size_small_portrait);
        margin-bottom: 0px;
        margin-top: var(--cns_h2_margin_top_small_portrait);
    }

    .nostri-valori-description p {
        width: var(--cns_p_width_small_portrait);
        font-size: var(--cns_p_font_size_small_portrait);
        text-align: left;
        color: white;
        margin-left: var(--cns_p_margin_left_small_portrait);
    }
}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px){

    .nostri-valori-description {
        width: var(--cns_width_small_landscape);
        position: absolute;
        transform: translateY(-20px);
        margin: 0;
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .nostri-valori-description h2 {
        width: var(--cns_h2_width_small_landscape);
        margin-left: var(--cns_h2_p_margin_left_small_landscape);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--cns_h2_font_size_small_landscape);
        margin-bottom: 0px;
        margin-top: var(--cns_h2_margin_top_small_landscape);
    }

    .nostri-valori-description p {
        width: var(--cns_p_width_small_landscape);
        font-size: var(--cns_p_font_size_small_landscape);
        text-align: left;
        color: white;
        margin-left: var(--cns_h2_p_margin_left_small_landscape);
    }

}
