/* Cookie Consent animations */
@keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

/* Cookie Consent styles*/
.CookieConsent {
	font-size: var(--font-size-caption) !important;
	font-family: var(--font-family) !important;
	color: var(--white-color) !important;
	z-index: var(--cookie_consent_banner_z_index) !important;
	background: var(--background-color) !important;
	animation: slideUp 0.3s ease-out forwards;
}

/* Cookie Consent buttons styles */
.CookieConsent #rcc-decline-button,
#rcc-confirm-button {
	width: var(--cookie_consent_banner_width);
	font-size: var(--font-size-caption) !important;
	font-family: var(--font-family) !important;
	border: var(--cookie_consent_banner_border_buttons) solid
		white !important;
	border-radius: var(--border-radius) !important;
	padding: var(
		--cookie_consent_banner_button_padding
	) !important;
	transition: all 0.3s ease;
}

.CookieConsent #rcc-confirm-button {
	background-color: white !important;
	color: black !important;
}

.CookieConsent #rcc-decline-button {
	background-color: transparent !important;
	color: white !important;
}
