/* Variables */
:root {
	/* — Button — */
	--cookie-consent-banner-button-width: 92%;
}

/* Cookie Consent Banner — Animation */
@keyframes cookieConsentBannerSlideUp {
	from {
		transform: translateY(
			var(--animation-translate-hidden)
		);
	}
	to {
		transform: translateY(
			var(--animation-translate-visible)
		);
	}
}

/* Cookie Consent Banner */
.CookieConsent {
	font-size: var(--font-size-caption) !important;
	font-family: var(--font-family) !important;
	color: var(--color-white) !important;
	z-index: var(--z-index-high) !important;
	background: var(--color-background) !important;
	animation: cookieConsentBannerSlideUp
		var(--animation-duration-short)
		var(--animation-timing-ease-out)
		var(--animation-fill-mode-forwards);
}

/* Cookie Consent Banner — Buttons */
.CookieConsent #rcc-decline-button,
#rcc-confirm-button {
	width: var(--cookie-consent-banner-button-width);
	font-size: var(--font-size-caption) !important;
	font-family: var(--font-family) !important;
	border-radius: var(--border-radius-default) !important;
	padding: var(--button-padding) !important;
}

/* Cookie Consent Banner — Confirm Button */
.CookieConsent #rcc-confirm-button {
	background-color: var(--color-white) !important;
	color: var(--color-black) !important;
}

/* Cookie Consent Banner — Decline Button */
.CookieConsent #rcc-decline-button {
	background-color: var(--color-background) !important;
	color: var(--color-white) !important;
	border: var(--border-width-small)
		var(--border-style-solid) var(--color-white) !important;
}
