/* Loading Outlined — Animation */
@keyframes loadingOutlinedSpin {
	0% {
		transform: rotate(var(--animation-rotate-start));
	}
	100% {
		transform: rotate(var(--animation-rotate-full));
	}
}

/* Loading Outlined */
.loading-outlined {
	width: var(--image-size-large);
	height: var(--image-size-large);
	position: var(--position-absolute);
	left: var(--position-center);
	transform: translate(
		var(--position-center-translate),
		var(--position-center-translate)
	);
}

/* Loading Outlined — Circle */
.loading-outlined-circle {
	animation: loadingOutlinedSpin
		var(--animation-duration-long)
		var(--animation-timing-linear)
		var(--animation-iteration-infinite);
}

/* Loading Outlined — Logo */
.loading-outlined-logo {
	position: var(--position-absolute);
	top: var(--position-center);
	left: var(--position-center);
	transform: translate(
		var(--position-center-translate),
		var(--position-center-translate)
	);
}
