/** Animation **/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg) translateY(20px);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg) translateY(0);
    }
}

.dove-siamo-division-title,
.dove-siamo-division-description{
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.dove-siamo-division-title.in-view,
.dove-siamo-division-description.in-view{
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
}

/** Common styles **/
.dove-siamo-division-title{
    color: var(--accent_color);
    text-align: left;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Poppins';
}

.dove-siamo-division-description{
    text-align: left;
    margin-top: 0;
    color: white;
    font-family: 'Poppins';
}

/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .divDoveSiamo{
        width: 100%;
    }

    .dove-siamo-division-title {
        width: 100%;
        font-size: var(--divisions_title_font_size_big);
    }

    .dove-siamo-division-description {
        width: 100%;
        font-size: var(--divisions_description_font_size_big);
        padding-top: 0;
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_big_medium_landscape);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }

}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .dove-siamo-division-title {
        width: 100%;
        font-size: var(--divisions_title_font_size_medium_portrait);
    }

    .dove-siamo-division-description {
        width: 100%;
        font-size: var(--divisions_description_font_size_medium_portrait);
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_medium_portrait);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .dove-siamo-division-title {
        width: 100%;
        margin-left: var(--general_margin_left_medium_landscape);
        font-size: var(--divisions_title_font_size_medium_landscape);
    }

    .dove-siamo-division-description{
        width: 100%;
        font-size: var(--divisions_description_font_size_medium_landscape);
        margin-left: var(--general_margin_left_medium_landscape);
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_big_medium_landscape);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }
}

/* Small screen portrait*/
@media (max-width: 767px) {

    .dove-siamo-division-title {
        width: 100%;
        margin-left: var(--general_margin_left_small_portrait);
        font-size: var(--divisions_title_font_size_small);
        margin-top: var(--divServizio_and_dove_siamo_margin_top);
    }

    .dove-siamo-division-description {
        width: 100%;
        font-size: var(--divisions_description_font_size_small);
        margin-left: var(--general_margin_left_small_portrait);
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_small);
        height: var(--divServizio_and_dove_siamo_icon_dimension_small);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_small);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }
}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {

    .dove-siamo-division-title {
        width: 100%;
        margin-left: var(--general_margin_left_small_landscape);
        font-size: var(--divisions_title_font_size_small);
        margin-top: var(--divServizio_and_dove_siamo_margin_top);
    }

    .dove-siamo-division-description {
        width: 100%;
        font-size: var(--divisions_description_font_size_small);
        margin-left: var(--general_margin_left_small_landscape);
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_small);
        height: var(--divServizio_and_dove_siamo_icon_dimension_small);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_small);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }

}
