.dove-siamo-container {
    width: 90%;
    height: 100%;
    text-align: left;
    top: 0;
    position: relative;
    background-color: var(--background_color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg) translateY(20px);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg) translateY(0);
    }
}

.dove-siamo-title {
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.dove-siamo-title.in-view {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
}

/* ------ Dove siamo section ------ */
/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .dove-siamo-title {
        width: var(--cns_h2_p_width_big);
        margin-left: var(--cns_h2_p_margin_left_big);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--h2_size_big);
        padding-top: var(--title_margin_top_big_medium);
    }

    .dove-siamo-grid {
        display: grid;
        grid-template-rows: auto auto;
        align-items: start;
        justify-content: start;
        gap: 2rem;
        width: 100%;
        text-align: left;
        margin-left: var(--cns_h2_p_margin_left_big);
    }

}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .dove-siamo-title {
        margin-left: var(--cns_h2_p_margin_left_medium_portrait);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--h2_size_medium);
        padding-top: var(--title_margin_top_big_medium);
    }

    .dove-siamo-grid {
        display: grid;
        grid-template-rows: auto auto;
        align-items: start;
        justify-content: start;
        text-align: left;
        gap: 2rem;
        margin-left: var(--cns_h2_p_margin_left_medium_portrait);
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .dove-siamo-title{
        margin-left: var(--cns_h2_p_margin_left_medium_landscape);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--h2_size_medium);
        padding-top: var(--title_margin_top_big_medium);
    }

    .dove-siamo-grid {
        display: grid;
        grid-template-rows: auto auto;
        align-items: start;
        justify-content: start;
        text-align: left;
        gap: 2rem;
        margin-left: var(--cns_h2_p_margin_left_medium_landscape);
    }

}

/* Small screen portrait*/
@media (max-width: 767px) {

    .dove-siamo-title {
        width: var(--cns_h2_width_small_portrait);
        margin-left: var(--cns_h2_p_margin_left_small_portrait);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--h2_size_small);
        padding-top: var(--cns_h2_margin_top_small_portrait);
    }

    .dove-siamo-grid {
        display: grid;
        grid-template-rows: auto auto;
        align-items: start;
        justify-content: start;
        text-align: left;
        gap: 1rem;
    }

}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px){

    .dove-siamo-title {
        width: var(--cns_h2_width_small_landscape);
        margin-left: var(--cns_h2_p_margin_left_small_landscape);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--h2_size_small);
        padding-top: var(--cns_h2_margin_top_small_landscape);
    }

    .dove-siamo-grid {
        display: grid;
        grid-template-rows: auto auto;
        align-items: start;
        justify-content: start;
        text-align: left;
        gap: 1rem;
    }

}
