@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg) translateY(20px);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg) translateY(0);
    }
}

.dove-siamo-division-title,
.dove-siamo-division-description, .dove-siamo-division-icon{
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.dove-siamo-division-title.in-view,
.dove-siamo-division-description.in-view, .dove-siamo-division-icon.in-view {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
}

/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .divDoveSiamo{
        width: 100%;
    }

    .dove-siamo-division-title {
        width: 100%;
        font-weight: bold;
        color: var(--accent_color);
        text-align: left;
        font-size: var(--servizio_usate_and_dove_siamo_title_size_big);
        margin-bottom: 0px;
        font-family: Poppins;
    }

    .dove-siamo-division-description {
        width: 100%;
        font-size: var(--servizio_and_card_auto_usate_and_dove_siamo_description_size_big);
        text-align: left;
        margin-top: 0px;
        padding-top: 0px;
        color: white;
        font-family: Poppins;
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--margin_top_icon_big_medium_landscape);
        margin-left: var(--margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }

}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .dove-siamo-division-title {
        width: 100%;
        font-weight: bold;
        color: var(--accent_color);
        text-align: left;
        font-size: var(--servizio_and_dove_siamo_title_size_medium_portrait);
        margin-bottom: 0px;
        font-family: Poppins;
    }

    .dove-siamo-division-description {
        width: 100%;
        margin-top: 0px;
        font-size: var(--servizio_and_card_auto_usate_and_dove_siamo_description_size_medium_portrait);
        text-align: left;
        color: white;
        font-family: Poppins;
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--margin_top_icon_big_medium_portrait);
        margin-left: var(--margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .dove-siamo-division-title {
        width: 100%;
        font-weight: bold;
        margin-left: var(--cns_h2_p_margin_left_medium_landscape);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--servizio_and_dove_siamo_title_size_medium_landscape);
        margin-bottom: 0px;
        font-family: Poppins;
    }

    .dove-siamo-division-description{
        width: 100%;
        margin-top: 0px;
        font-size: var(--servizio_and_card_auto_usate_and_dove_siamo_description_size_medium_landscape);
        text-align: left;
        color: white;
        margin-left: var(--cns_h2_p_margin_left_medium_landscape);
        font-family: Poppins;
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--margin_top_icon_big_medium_landscape);
        margin-left: var(--margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }
}

/* Small screen portrait*/
@media (max-width: 767px) {

    .dove-siamo-division-title {
        font-weight: bold;
        width: 100%;
        margin-left: var(--cns_h2_p_margin_left_small_portrait);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--servizio_and_dove_siamo_usate_title_size_small);
        margin-bottom: 0px;
        margin-top: var(--divServizio_and_dove_siamo_margin_top);
        font-family: Poppins;
    }

    .dove-siamo-division-description {
        width: 100%;
        font-size: var(--servizio_and_card_auto_usate_and_dove_siamo_description_size_small);
        text-align: left;
        margin-top: 0px;
        color: white;
        margin-left: var(--cns_p_margin_left_small_portrait);
        font-family: Poppins;
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_small);
        height: var(--divServizio_and_dove_siamo_icon_dimension_small);
        margin-top: var(--margin_top_icon_small);
        margin-left: var(--margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }
}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {

    .dove-siamo-division-title {
        font-weight: bold;
        width: 100%;
        margin-left: var(--cns_h2_p_margin_left_small_landscape);
        color: var(--accent_color);
        text-align: left;
        font-size: var(--servizio_and_dove_siamo_usate_title_size_small);
        margin-bottom: 0px;
        margin-top: var(--divServizio_and_dove_siamo_margin_top);
        font-family: Poppins;
    }

    .dove-siamo-division-description {
        width: 100%;
        font-size: var(--servizio_and_card_auto_usate_and_dove_siamo_description_size_small);
        text-align: left;
        margin-top: 0px;
        color: white;
        margin-left: var(--cns_h2_p_margin_left_small_landscape);
        font-family: Poppins;
    }

    .dove-siamo-division-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_small);
        height: var(--divServizio_and_dove_siamo_icon_dimension_small);
        margin-top: var(--margin_top_icon_small);
        margin-left: var(--margin_right_icon);
        margin-bottom: var(--dove_siamo_icon_margin_bottom);
    }

}
