.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #F7F6F6;
}
* {
  box-sizing: border-box;
}


.support-button {
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  transition: background-color 0.3s ease;
  padding: 0;
}
.support-button:hover {
  background-color: #50E152;
}
.support-button .anticon {
  width: 100%;  /* Imposta larghezza relativa per centrare l'icona */
  height: 100%; /* Imposta altezza relativa per centrare l'icona */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease;
}
.support-button:hover .anticon {
  filter: brightness(0) invert(1);
}



/* ------ Menù ------*/
/* Big screen */
.ant-anchor-link-title {
  font-size: 25px;
  font-family: 'Poppins';
  margin-top: 40px;
  color: black;
  transition: color 0.3s ease;
}

.ant-anchor-link-active > .ant-anchor-link-title {
  color: black !important;
  font-weight: bold;
}

.ant-anchor-ink {
  background-color: black !important;
  width: 2px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 100px;
  padding-left: 20px;
}

/* Medium screen */
@media (max-width: 1024px) {
  .ant-anchor-link-title {
    font-size: 20px;
  }
  .menu-container {
    padding-top: 80px;
    padding-left: 10px;
  }
}

/* Small screen */
@media (max-width: 768px) {
  .ant-anchor-link-title {
    font-size: 18px;
  }
  .menu-container {
    padding-top: 60px;
    padding-left: 5px;
  }
}
/*------ End Menù --------*/