/* ------ Home section ------*/
.home-container {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

/* ------ Title + description -------*/
.title-container {
    overflow: hidden;
    margin-left: 300px;
    margin-top: 50px;
    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-position: initial;
    height: 100vh;
    width: 100%;
}

.home-title {
    font-size: 70px;
    font-family: 'Poppins';
    color: black;
}

.home-description {
    font-size: 35px;
    color: black;
}

/* Medium screen */
@media (max-width: 1024px) {
    .title-container {
        margin-left: 150px;
    }

    .home-title {
        font-size: 50px;
    }

    .home-description {
        font-size: 28px;
    }
}

/* Small screen */
@media (max-width: 768px) {
    .title-container {
        margin-left: 20px;
        margin-top: 20px;
    }

    .home-title {
        font-size: 35px;
        text-align: center;
    }

    .home-description {
        font-size: 20px;
        text-align: center;
    }
}

.email-icon {
    width: 50px;
    height: 50px;
    display: block;
}