/* Definition of the font-face (normal style-handling) */
@font-face {
  font-family: "Poppins";
  src: url("../public/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Definition of the font-face (bold style-handling) */
@font-face {
  font-family: "Poppins";
  src: url("../public/font/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
