/* Poppins */
@font-face {
	font-family: "Poppins";
	src: url("../public/fonts/Poppins-Regular.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	src: url("../public/fonts/Poppins-Bold.woff2")
		format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* Dancing Script */
@font-face {
	font-family: "Dancing Script";
	src: url("../public/fonts/DancingScript-Regular.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
