:root {
	/* -------- Used cars -------- */
	--used_car_card_gap: 2rem;
	--used_cars_container_padding: 1rem;
	--used_cars_container_linear_gradient: 10px;
	--used_cars_scroll_label_margin_left: 22%;
	--unavailable_used_cars_image_dimension: 250px;
}
