:root {
	/* -------- Font family -------- */
	--font_family: "Poppins", "sans-serif";

	/* -------- Colors -------- */
	--background_color: #141414;
	--accent_color: #f8de4d;
	--accent_color_with_gradient: linear-gradient(
		90deg,
		#fff200,
		#ffd700,
		#ffbf00,
		#ffa500
	);
	--red_color_with_gradient: linear-gradient(
		90deg,
		#ff3737,
		#ff8e53
	);
	--blue_color_with_gradient: linear-gradient(
		90deg,
		#2a8eff,
		#7cdfff
	);
	--green_color_with_gradient: linear-gradient(
		90deg,
		#2ba35f,
		#7dffcc
	);
	--blue_color: #005fcc;
	--text_color: white;
	--loading_outlined_color: white;
	--hamburger_button_color: white;
	--close_outline_color: white;
	--collapse_color: white;

	/* -------- Font size -------- */
	--home_title_font_size_big: 55px;
	--home_title_font_size_medium: 45px;
	--home_title_font_size_small: 30px;

	--home_subtitle_font_size_big: 40px;
	--home_subtitle_font_size_medium: 20px;
	--home_subtitle_font_size_small: 18px;

	--super_heading_font_size: clamp(43px, 6vw, 120px);

	--heading_font_size_big: 30px;
	--heading_font_size_medium: 25px;
	--heading_font_size_small: 22px;

	--subheading_font_size_big: 20px;
	--subheading_font_size_medium: 19px;
	--subheading_font_size_small: 17px;

	--body_font_size_big: 18px;
	--body_font_size_medium: 17px;
	--body_font_size_small: 15px;

	--caption_text_font_size: clamp(13.5px, 2vw, 15px);

	/* -------- Components (General) -------- */
	--low_opacity: 0.8;
	--border_radius: 5px;
	--gap_button_label: 0.5rem;
	--float_button_dimension: 40px;
	--float_button_margins: 10px;

	/* -------- Sections Wrapper -------- */
	--sections_wrapper_gap: 4rem;

	/* -------- Custom Icon Button -------- */
	--custom_text_super_heading_margin_bottom: 30px;
	--custom_text_heading_margin_bottom: 0;

	/* -------- Custom Icon Button -------- */
	--custom_icon_button_margins: clamp(5px, 2vw, 10px);
	--custom_icon_button_dimension: clamp(18px, 5vw, 20px);
	--custom_icon_button_scale: 1.1;
	--custom_icon_button_padding: 0;

	/* -------- Custom Button(s) -------- */
	--custom_button_filter_perc: 1;
	--custom_button_padding: 23px 17px 23px 17px;
	--contact_button_padding: 0;
	--cta_button_margin_top: 3rem;
	--cta_button_width_medium_landscape: 40%;
	--cta_button_scale: 1.03;
	--cta_button_border: 2px;

	/* -------- Custom Back Button -------- */
	--custom_back_button_padding_top: 20px;

	/* -------- Custom Block Quote -------- */
	--custom_block_quote_margin_left: 3px;
	--custom_block_quote_padding_left: 1rem;
	--custom_block_quote_border_left: 3px;

	/* -------- Cookie Consent Banner + Cookie Button -------- */
	--cookie_consent_banner_width: 60%;
	--cookie_consent_banner_button_padding: 11px 20px 11px
		22px;
	--cookie_consent_banner_z_index: 9999999;
	--cookie_consent_banner_border_buttons: 1px;
	--cookie_button_z_index: 99999;
	--cookie_button_scale: 1.1;
	--cookie_button_border_radius: 50%;

	/* -------- Info Card -------- */
	--info_card_icon_dimension: 30px;
	--info_card_flex_margin_top: 50px;
	--info_card_flex_gap: 20px;
	--info_card_height: 100%;
	--info_card_width: 250px;

	/* -------- Used Cars Card -------- */
	--used_car_card_scale_perc: 1.01;
	--used_car_card_padding: 15px 15px 0 15px;
	--used_car_card_width: 270px;
	--used_car_card_gap: 2rem;
	--used_car_card_border: 1px;
	--used_car_card_box_shadow: 0 8px 20px rgba(0, 0, 0, 1);
	--used_car_card_box_shadow_hover: 0 50px 50px
		rgba(0, 0, 0, 0.8);
	--used_car_card_flex_shrink: 0;
	--used_car_card_image_container_width: 100%;
	--used_car_card_image_max_width: 100%;
	--used_car_card_image_height: 100%;
	--used_car_card_overview_flex_gap: 0;
	--used_car_card_price_container_width: 100%;

	/* -------- Used Car Overview -------- */
	--used_car_overview_text_margin_top: 4px;
	--used_car_overview_container_margin_top: 0.5rem;

	/* -------- Used Car Drawer -------- */
	--used_car_drawer_flex_horizontal_height: 100%;
	--used_car_drawer_flex_horizontal_gap_big_medium: 2rem;
	--used_car_drawer_flex_horizontal_gap_small: 3rem;
	--used_car_drawer_flex_horizontal_vertical_border: 1px;
	--used_car_drawer_flex_horizontal_vertical_box_shadow: 0
		50px 50px rgba(0, 0, 0, 1);
	--used_car_drawer_header_padding_left_big: 4rem;
	--used_car_drawer_header_padding_top_big: 1rem;
	--used_car_drawer_header_padding_bottom_big: 2rem;
	--used_car_drawer_header_padding_left_small_portrait_medium_portrait: 3.2rem;
	--used_car_drawer_header_padding_top_small_portrait_medium_portrait: 0.3rem;
	--used_car_drawer_header_padding_bottom_small_portrait_medium_portrait: 1.5rem;
	--used_car_drawer_header_padding_left_small_landscape_medium_landscape: 3.2rem;
	--used_car_drawer_header_padding_top_small_landscape_medium_landscape: 0.3rem;
	--used_car_drawer_header_padding_bottom_small_landscape_medium_landscape: 1.5rem;
	--used_car_drawer_content_wrapper_width: 100vw;

	/* -------- Used Car Drawer Info Panel -------- */
	--used_car_drawer_info_panel_padding: 1.5rem;

	/* -------- Used Car Drawer Carousel -------- */
	--used_car_drawer_carousel_container_max_width: 100%;
	--used_car_drawer_carousel_container_width_big: 75%;
	--used_car_drawer_carousel_container_width_medium_portrait: 100%;
	--used_car_drawer_carousel_container_width_medium_landscape: 60%;
	--used_car_drawer_carousel_container_width_small: 100%;
	--used_car_drawer_carousel_max_height_big_medium_lanscape_small_landscape: 80vh;
	--used_car_drawer_carousel_max_height_medium_portrait_small_portrait: 40vh;
	--used_car_drawer_carousel_image_width: 100%;
	--used_car_drawer_carousel_image_max_width: 100%;
	--used_car_drawer_carousel_image_height: 100%;

	/* -------- Used Car Drawer Collapse -------- */
	--used_car_drawer_collapse_border_radius: 0;
	--used_car_drawer_collapse_margin_top: 80px;
	--used_car_drawer_collapse_header_margins: 10px 0 10px 0;
	--used_car_drawer_collapse_header_padding_left: 0;
	--used_car_drawer_collapse_content_border_left: 0.5px;
	--used_car_drawer_collapse_content_border_radius: 0;
	--used_car_drawer_collapse_lists_padding_inline_start: 0;
	--used_car_drawer_collapse_lists_margin_block_start: 0;

	/* -------- Section Container -------- */
	--section_container_width: 60%;
	--section_container_width_small_portrait: 75%;
	--section_max_width: 120%;

	/* -------- Section Header -------- */
	--section_header_padding: 30px;
	--section_header_border: 4px;
	--section_header_box_shadow: 0 50px 50px
		rgba(0, 0, 0, 0.8);
	--section_header_margin_bottom: 50px;
	--section_header_subtitle_width: 85%;

	/* -------- Menu -------- */
	--menu_anchor_ink_width: 2px;
	--menu_items_gap: 30px;
	--menu_children_padding_left: 60px;
	--menu_ink_margin_top: 10px;
	--menu_container_big_top: 0;
	--menu_container_big_left: 0;
	--menu_container_big_height: 100vh;
	--menu_container_big_width: 170px;
	--menu_container_big_z_index: 99999;
	--menu_container_big_box_shadow: 0 0 5px 5px
		rgba(0, 0, 0, 1);
	--menu_container_big_y_translation: -20px;
	--menu_container_small_z_index: 99999;

	/* -------- Hamburger Button -------- */
	--hamburger_button_box_shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	--hamburger_button_backdrop_filter_blur: 4px;
	--hamburger_button_z_index: 1000;

	/* -------- Google Maps -------- */
	--google_maps_iframe_width: 100%;
	--google_maps_iframe_height: 100%;
	--google_maps_iframe_filter_perc: 95%;
	--google_maps_iframe_filter_rotation: 180deg;
	--google_maps_iframe_border: 0;
	--google_maps_margin_top: 50px;
	--google_maps_height: 60vh;
	--google_maps_unavailable_background_size: 10%;
	--google_maps_unavailable_description_margins: 15% 5% 0 5%;

	/* -------- Loading Outlined -------- */
	--loading_outlined_width: 100%;

	/* -------- General section margins -------- */
	--section_margin_left_big: 250px;
	--section_margin_left_medium: 190px;
	--section_margin_left_small_portrait: 20px;
	--section_margin_left_small_landscape: 15px;

	/* -------- Home section -------- */
	--home_layout_height: 100vh;
	--home_header_padding_bottom: 5px;
	--home_header_padding_right: 10px;
	--home_header_gap: 20px;
	--home_logo_dimension: 50px;
	--home_title_margin_bottom: 0px;
	--home_title_margin_top: 20vh;
	--home_title_animation_delay: 0.6s;
	--home_subtitle_margin_top: 0px;
	--home_subtitle_animation_delay: 1.2s;

	/* -------- About us section -------- */
	--about_us_height: 70vh;

	/* -------- Our values section -------- */
	--our_values_steps_margin_bottom: 50px;

	/* -------- Services section -------- */
	--services_container_gap: 3rem;

	/* -------- Used cars -------- */
	--used_cars_container_padding: 1rem;
	--used_cars_container_linear_gradient: 10px;
	--used_cars_scroll_label_margin_left: 22%;
	--unavailable_used_cars_image_dimension: 250px;

	/* -------- Contacts section -------- */
	--contacts_layout_gap: 10rem;
	--contact_buttons_gap: 30px;
	--contacts_footer_width: 90%;
	--contacts_footer_padding: 0;
}
