:root {

	/* -------- Used Car Overview -------- */
	--used_car_overview_text_margin_top: 4px;
	--used_car_overview_container_margin_top: 0.5rem;

	/* -------- Used Car Drawer -------- */
	--used_car_drawer_flex_horizontal_height: 100%;
	--used_car_drawer_flex_horizontal_gap_big_medium: 2rem;
	--used_car_drawer_flex_horizontal_gap_small: 3rem;

	--used_car_drawer_header_padding_left_big: 4rem;
	--used_car_drawer_header_padding_top_big: 1rem;
	--used_car_drawer_header_padding_bottom_big: 2rem;
	--used_car_drawer_header_padding_left_small_portrait_medium_portrait: 3.2rem;
	--used_car_drawer_header_padding_top_small_portrait_medium_portrait: 0.3rem;
	--used_car_drawer_header_padding_bottom_small_portrait_medium_portrait: 1.5rem;
	--used_car_drawer_header_padding_left_small_landscape_medium_landscape: 3.2rem;
	--used_car_drawer_header_padding_top_small_landscape_medium_landscape: 0.3rem;
	--used_car_drawer_header_padding_bottom_small_landscape_medium_landscape: 1.5rem;
	--used_car_drawer_content_wrapper_width: 100vw;

	/* -------- Used Car Drawer Info Panel -------- */
	--used_car_drawer_info_panel_padding: 1.5rem;

	/* -------- Used Car Drawer Carousel -------- */
	--used_car_drawer_carousel_container_max_width: 100%;
	--used_car_drawer_carousel_container_width_big: 75%;
	--used_car_drawer_carousel_container_width_medium_portrait: 100%;
	--used_car_drawer_carousel_container_width_medium_landscape: 60%;
	--used_car_drawer_carousel_container_width_small: 100%;
	--used_car_drawer_carousel_max_height_big_medium_lanscape_small_landscape: 80vh;
	--used_car_drawer_carousel_max_height_medium_portrait_small_portrait: 40vh;
	--used_car_drawer_carousel_image_width: 100%;
	--used_car_drawer_carousel_image_max_width: 100%;
	--used_car_drawer_carousel_image_height: 100%;

	/* -------- Used Car Drawer Collapse -------- */
	--used_car_drawer_collapse_margin_top: 80px;
	--used_car_drawer_collapse_header_margins: 10px 0 10px 0;
	--used_car_drawer_collapse_header_padding_left: 0;
	--used_car_drawer_collapse_content_border_left: 0.5px;
	--used_car_drawer_collapse_lists_padding_inline_start: 0;
	--used_car_drawer_collapse_lists_margin_block_start: 0;

	/* -------- Used cars -------- */
	--used_car_card_gap: 2rem;
	--used_cars_container_padding: 1rem;
	--used_cars_container_linear_gradient: 10px;
	--used_cars_scroll_label_margin_left: 22%;
	--unavailable_used_cars_image_dimension: 250px;
}
