/* Icon Button */
.icon-button {
	border: var(--border-none);
	background: var(--color-transparent);
	cursor: var(--cursor-pointer);
	transition: var(--animation-duration-short)
		var(--animation-timing-ease-out);
}

/* Icon Button  Hover */
.icon-button:hover {
	transform: scale(var(--scale-large));
}
