/* ------- Extra big screen --------*/
@media (min-width: 1230px) {
    .altri-servizi {
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 200px;
        justify-items: center;
        background-color: var(--background_color);
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeInUp 0.5s forwards;
        transition: transform 0.3s ease, color 0.3s ease;
        animation-delay: 0.5s;
    }
}

/* ------- Big screen --------*/
@media (max-width: 1229px) and (min-width: 1025px){
    .altri-servizi {
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        gap: 10px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 200px;
        justify-items: center;
        background-color: var(--background_color);
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeInUp 0.5s forwards;
        transition: transform 0.3s ease, color 0.3s ease;
        animation-delay: 0.5s;
    }
}

/* ------- Medium portrait screen --------*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .altri-servizi {
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        background-color: var(--background_color);
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeInUp 0.5s forwards;
        transition: transform 0.3s ease, color 0.3s ease;
        animation-delay: 0.5s;
    }
}

/* ------- Medium landscape screen --------*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .altri-servizi {
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        gap: 10px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 200px;
        justify-items: center;
        background-color: var(--background_color);
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeInUp 0.5s forwards;
        transition: transform 0.3s ease, color 0.3s ease;
        animation-delay: 0.5s;
    }
}

