.cardServizio {
    border-radius: 20px;
    width: 400px;
    height: 220px;
    margin-left: 250px;
    background-color: white;
    margin-top: 50px;
    color: white;
    text-align: start;
    padding-left: 15px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-cards .cardServizio {
    transform: translateY(0);
    animation: fadeInUp 0.5s forwards;
}

/*THIS ORDER IS IMPORTANT FOR CARD ANIMATION*/
.animate-cards .cardServizio:nth-child(1) {
    animation-delay: 0.2s;
}
.animate-cards .cardServizio:nth-child(2) {
    animation-delay: 0.5s;
}
.animate-cards .cardServizio:nth-child(3) {
    animation-delay: 0.8s;
}
.animate-cards .cardServizio:nth-child(4) {
    animation-delay: 1.1s;
}
.animate-cards .cardServizio:nth-child(5) {
    animation-delay: 1.4s;
}
.animate-cards .cardServizio:nth-child(6) {
    animation-delay: 1.7s;
}
.animate-cards .cardServizio:nth-child(7) {
    animation-delay: 2.0s;
}
.animate-cards .cardServizio:nth-child(8) {
    animation-delay: 2.3s;
}