@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-cards .cardServizio {
    transform: translateY(0);
    animation: fadeInUp 0.5s forwards;
}

@media (min-width: 1025px) {
    .cardServizio {
        border-radius: 20px;
        width: var(--card_width_big);
        height: var(--card_height_big);
        margin-top: var(--card_margin_top_big);
        color: white;
        text-align: start;
        padding-left: 2.5%;
        padding-right: 1%;
        padding-bottom: 0%;
        opacity: 0;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        transform: translateY(20px);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .p-title {
        display: flex;
        font-family: 'Poppins';
        color: white;
        text-align: start;
        font-size: var(--card_title_size_big);
        font-weight: bold;
        margin-bottom: 0;
    }

    .p-description {
        margin-top: 4px;
        font-family: 'Poppins';
        color: white;
        text-align: start;
        font-size: var(--card_description_size_big);
    }

    .cardIcon {
        position: absolute;
        top: var(--card_icon_margin);
        right: var(--card_icon_margin);
        width: var(--card_icon_big);
        height: auto;
        display: block;
    }
}