/** Animation **/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg) translateY(20px);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg) translateY(0);
    }
}

.title-servizio,
.description-servizio{
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.title-servizio.in-view,
.description-servizio.in-view{
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
}

/** Common styles **/
.divServizio{
    text-align: center;
    position: relative;
    top: 0;
    overflow: hidden;
    background-color: var(--background_color);
}

.title-servizio{
    font-weight: bold;
    color: var(--accent_color);
    text-align: left;
    margin-bottom: 0;
}

.description-servizio{
    text-align: left;
    color: white;
}

.title-and-icon-container{
    margin-top: var(--divServizio_and_dove_siamo_margin_top);
}

/* ------ Big screen -------*/
@media (min-width: 1025px) {

    .flex-division {
        width: 50%;
    }

    .divServizio {
        width: 80%;
        margin-left: var(--general_margin_left_big);
    }

    .title-servizio {
        width: var(--general_h2_p_width_big);
        font-size: var(--divisions_title_font_size_big);

    }

    .description-servizio {
        width: var(--general_h2_p_width_big);
        font-size: var(--divisions_description_font_size_big);
        margin-top: var(--divServizio_description_margin_top);

    }

    .servizio-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_big_medium_landscape);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
    }
}

/* Medium screen portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .flex-division {
        width: 50%;
    }

    .divServizio {
        width: 60%;
        margin-left: var(--general_margin_left_medium_portrait);
    }

    .title-servizio {
        font-size: var(--divisions_title_font_size_medium_portrait);
    }

    .description-servizio {
        font-size: var(--divisions_description_font_size_medium_portrait);
        margin-top: var(--divServizio_description_margin_top);
    }

    .servizio-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_medium_portrait);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
    }

}

/* Medium screen landscape*/
@media (min-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .flex-division {
        width: 80%;
    }

    .divServizio {
        width: 60%;
    }

    .title-servizio {
        margin-left: var(--general_margin_left_medium_landscape);
        font-size: var(--divisions_title_font_size_medium_landscape);
    }

    .description-servizio{
        font-size: var(--divisions_description_font_size_medium_landscape);
        margin-top: var(--divServizio_description_margin_top);
        margin-left: var(--general_margin_left_medium_landscape);
    }

    .servizio-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        height: var(--divServizio_and_dove_siamo_icon_dimension_big_and_medium);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_big_medium_landscape);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
    }
}

/* Small screen portrait*/
@media (max-width: 767px) {

    .flex-division {
        width: 70%;
    }

    .divServizio {
        width: 90%;
    }

    .title-servizio {
        width: var(--general_h2_width_small_portrait);
        margin-left: var(--general_margin_left_small_portrait);
        font-size: var(--divisions_title_font_size_small);
        margin-top: var(--divServizio_and_dove_siamo_margin_top);
    }

    .description-servizio {
        width: var(--general_p_width_small_portrait);
        font-size: var(--divisions_description_font_size_small);
        margin-top: var(--divServizio_description_margin_top);
        margin-left: var(--general_margin_left_small_portrait);
    }

    .servizio-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_small);
        height: var(--divServizio_and_dove_siamo_icon_dimension_small);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_small);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
    }
}

/* Small screen landscape*/
@media (max-height: 767px) and (orientation: landscape) and (max-width: 1024px) {

    .flex-division {
        width: 70%;
    }

    .title-servizio {
        width: var(--general_h2_width_small_landscape);
        margin-left: var(--general_margin_left_small_landscape);
        font-size: var(--divisions_title_font_size_small);
        margin-top: var(--divServizio_and_dove_siamo_margin_top);
    }

    .description-servizio {
        width: var(--general_p_width_small_landscape);
        font-size: var(--divisions_description_font_size_small);
        margin-top: var(--divServizio_description_margin_top);
        margin-left: var(--general_margin_left_small_landscape);
    }

    .servizio-icon{
        width: var(--divServizio_and_dove_siamo_icon_dimension_small);
        height: var(--divServizio_and_dove_siamo_icon_dimension_small);
        margin-top: var(--divServizio_and_dove_siamo_margin_top_icon_small);
        margin-left: var(--divServizio_and_dove_siamo_margin_right_icon);
    }

}
