/* Variables */
:root {
	--custom-button-cta-margin-top: 50px;
}

/* Custom Button (General) */
.custom-button {
	color: var(--color-white);
	font-family: var(--font-family);
	font-size: var(--font-size-body);
	border: var(--border-width-small)
		var(--border-style-solid) var(--color-white);
	border-radius: var(--border-radius-default);
	padding: var(--padding-button);
	background-color: var(--color-background) !important;
	box-shadow: var(--shadow-large);
	transition: var(--animation-duration-short)
		var(--animation-timing-ease-out);
}

/* Custom Button (General) — Hover */
.custom-button:hover {
	transform: scale(var(--scale-small));
	color: var(--color-white);
	font-family: var(--font-family);
	font-size: var(--font-size-body);
	border: var(--border-width-small)
		var(--border-style-solid) var(--color-white);
	border-radius: var(--border-radius-default);
	padding: var(--padding-button);
	background-color: var(--color-background) !important;
	box-shadow: var(--shadow-large);
}

/* Custom Button (Contact) */
.contact-button {
	color: var(--color-white);
	font-family: var(--font-family);
	font-size: var(--font-size-body);
	padding: var(--zero-padding);
	box-shadow: var(--shadow-none);
	background-color: var(--color-transparent) !important;
	transition: var(--animation-duration-short)
		var(--animation-timing-ease-out);
}

/* Custom Button (Contact) — Hover */
.contact-button:hover {
	transform: scale(var(--scale-small));
	color: var(--color-white);
	font-family: var(--font-family);
	font-size: var(--font-size-body);
	padding: var(--zero-padding);
	box-shadow: var(--shadow-none);
	background-color: var(--color-transparent) !important;
}

/* Custom Button (CTA) */
.cta-button {
	margin-top: var(--custom-button-cta-margin-top);
	color: var(--color-white);
	font-size: var(--font-size-caption);
	font-family: var(--font-family);
	padding: var(--padding-button);
	border: var(--border-width-big) var(--border-style-solid);
	border-image: var(--gradient-accent) 1;
	-webkit-mask-image: -webkit-linear-gradient(
		var(--color-white),
		var(--color-white)
	);
	background: var(--color-transparent);
	border-radius: var(--border-radius-default);
	box-shadow: var(--shadow-xxlarge);
	transition: var(--animation-duration-short)
		var(--animation-timing-ease-out);
}

/* Custom Button (CTA) — Hover */
.cta-button:hover {
	transform: scale(var(--scale-small));
	color: var(--color-white) !important;
	font-size: var(--font-size-caption) !important;
	font-family: var(--font-family) !important;
	border: var(--border-width-big) var(--border-style-solid) !important;
	border-image: var(--gradient-accent) 1 !important;
	-webkit-mask-image: -webkit-linear-gradient(
		var(--color-white),
		var(--color-white)
	) !important;
	background: var(--color-transparent) !important;
	border-radius: var(--border-radius-default) !important;
	padding: var(--padding-button) !important;
	box-shadow: var(--shadow-xxlarge);
}
