/* Custom Button styles */
.custom-button {
	color: var(--color-white);
	font-family: var(--font-family);
	border-radius: var(--border-radius-default);
	padding: var(--button-padding);
	background-color: var(--color-background) !important;
	transition: all 0.3s ease;
}

.custom-button:hover {
	font-family: var(--font-family) !important;
	border-radius: var(--border-radius-default) !important;
	padding: var(--button-padding) !important;
	transition: all 0.3s ease !important;
}

/* Contact button styles */
.contact-button {
	color: var(--color-white);
	font-family: var(--font-family);
	padding: var(--contact_button_padding);
	box-shadow: none;
	background-color: transparent !important;
}

/* CTA button styles */
.cta-button {
	margin-top: var(--cta_button_margin_top);
	color: var(--color-white);
	font-size: var(--font-size-caption);
	font-weight: bold;
	font-family: var(--font-family);
	border: var(--cta_button_border) solid;
	border-image: var(--gradient-accent) 1;
	-webkit-mask-image: -webkit-linear-gradient(white, white);
	background: transparent;
	border-radius: var(--border-radius-default);
	padding: var(--button-padding);
	transition: all 0.3s ease;
}

.cta-button:hover {
	transform: scale(var(--cta_button_scale));
	border-radius: var(--border-radius-default) !important;
	border: var(--cta_button_border) solid !important;
	border-image: var(--gradient-accent) 1 !important;
	border-radius: var(--border-radius-default) !important;
	background: transparent !important;
}

/* ------- Big screen ------- */
@media (min-width: 1025px) {
	.custom-button {
		font-size: var(--font-size-body-big);
	}

	.contact-button {
		font-size: var(--font-size-body-big);
	}
}

/* ------- Medium screens (portrait and landscape) ------- */
@media (min-width: 768px) and (max-width: 1024px) {
	.custom-button {
		font-size: var(--font-size-body-medium);
	}
}

/* ------- Medium screen portrait ------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.cta-button {
		width: var(--cta_button_width_medium_landscape);
	}
}

/* ------- Small screen (portrait and landscape) ------- */
@media (max-width: 767px) {
	.custom-button {
		font-size: var(--font-size-body-small);
	}
}
