/* In Drawer Animation */
@keyframes slideDrawerRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

/* Used car drawer styles */
.used-car-drawer,
.ant-drawer-header {
	font-family: var(--font-family);
	background: transparent !important;
}

.ant-drawer-content-wrapper .ant-drawer-header {
	background-color: var(--background-color);
	padding: 0;
}

.ant-drawer-content-wrapper {
	width: var(
		--used_car_drawer_content_wrapper_width
	) !important;
	position: fixed;
	animation: slideDrawerRight 0.5s ease-out;
}

/* Hide menus  */
.drawer-open .hamburger-button,
.drawer-open .menu-container-big {
	display: none !important;
}

/* User car drawer flex horizontal container styles */
.used-car-drawer-flex-horizontal {
	height: var(
		--used_car_drawer_flex_horizontal_height
	) !important;
}

/* ----------- Big screen ----------- */
@media (min-width: 1025px) {
	.used-car-drawer-flex-horizontal {
		flex-direction: row;
		gap: var(
			--used_car_drawer_flex_horizontal_gap_big_medium
		);
	}

	.used-car-drawer-flex-vertical {
		border-radius: var(--border-radius);
		padding: var(--used_car_drawer_info_panel_padding);
		background-color: transparent;
		box-shadow: var(
			--used-car-drawer-flex-horizontal-vertical-box-shadow
		);
	}

	.ant-drawer-header {
		padding-left: var(
			--used_car_drawer_header_padding_left_big
		) !important;
		padding-top: var(
			--used_car_drawer_header_padding_top_big
		) !important;
		padding-bottom: var(
			--used_car_drawer_header_padding_bottom_big
		) !important;
		box-shadow: var(
			--used-car-drawer-flex-horizontal-vertical-box-shadow
		);
	}
}

/* ----------- Medium screen portrait ----------- */
@media (min-width: 768px) and (max-width: 1024px) {
	.used-car-drawer-flex-horizontal {
		flex-direction: column-reverse;
		justify-content: start;
		gap: var(
			--used_car_drawer_flex_horizontal_gap_big_medium
		);
	}

	.ant-drawer-header {
		padding-left: var(
			--used_car_drawer_header_padding_left_small_portrait_medium_portrait
		) !important;
		padding-bottom: var(
			--used_car_drawer_header_padding_bottom_small_portrait_medium_portrait
		) !important;
		padding-top: var(
			--used_car_drawer_header_padding_top_small_portrait_medium_portrait
		) !important;
		box-shadow: var(
			--used-car-drawer-flex-horizontal-vertical-box-shadow
		);
	}
}

/* ----------- Medium screen landscape ----------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.used-car-drawer-flex-horizontal {
		flex-direction: row;
		gap: var(
			--used_car_drawer_flex_horizontal_gap_big_medium
		);
	}

	.used-car-drawer-flex-vertical {
		border-radius: var(--border-radius);
		padding: var(--used_car_drawer_info_panel_padding);
		background-color: transparent;
		box-shadow: var(
			--used-car-drawer-flex-horizontal-vertical-box-shadow
		);
	}

	.ant-drawer-header {
		padding-left: var(
			--used_car_drawer_header_padding_left_small_landscape_medium_landscape
		) !important;
		padding-bottom: var(
			--used_car_drawer_header_padding_bottom_small_landscape_medium_landscape
		) !important;
		padding-top: var(
			--used_car_drawer_header_padding_top_small_landscape_medium_landscape
		) !important;
		box-shadow: var(
			--used-car-drawer-flex-horizontal-vertical-box-shadow
		);
	}
}

/* ----------- Small screen portrait ----------- */
@media (max-width: 767px) and (orientation: portrait) {
	.used-car-drawer-flex-horizontal {
		flex-direction: column-reverse;
		justify-content: start;
		gap: var(--used_car_drawer_flex_horizontal_gap_small);
	}

	.ant-drawer-header {
		padding-left: var(
			--used_car_drawer_header_padding_left_small_portrait_medium_portrait
		) !important;
		padding-bottom: var(
			--used_car_drawer_header_padding_bottom_small_portrait_medium_portrait
		) !important;
		padding-top: var(
			--used_car_drawer_header_padding_top_small_portrait_medium_portrait
		) !important;
		box-shadow: var(
			--used-car-drawer-flex-horizontal-vertical-box-shadow
		);
	}
}

/* ----------- Small screen landscape ----------- */
@media (max-width: 767px) and (orientation: landscape) {
	.used-car-drawer-flex-horizontal {
		flex-direction: column-reverse;
		justify-content: start;
		gap: var(--used_car_drawer_flex_horizontal_gap_small);
	}

	.ant-drawer-header {
		padding-left: var(
			--used_car_drawer_header_padding_left_small_landscape_medium_landscape
		) !important;
		padding-bottom: var(
			--used_car_drawer_header_padding_bottom_small_landscape_medium_landscape
		) !important;
		padding-top: var(
			--used_car_drawer_header_padding_top_small_landscape_medium_landscape
		) !important;
		box-shadow: var(
			--used-car-drawer-flex-horizontal-vertical-box-shadow
		);
	}
}
